<header class="page-header">
    <div class="container">


        <div class="page-header__row">
            <div class="page-header__left-block">


                <a href="#" class="page-header__logo">
                    <img src="img/logo.svg" alt="" class="page-header__logo-image">
                </a>
                <a href="#" class="page-header__choose-apartment">
                    Выбрать квартиру
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="page-header__right-block">
                <button class="page-header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Проекты
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Ипотека
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                О компании
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="tel:+78362362525" class="page-header__phone">+7 (8362) 36-25-25</a>
                <a href="#" class="page-header__live">
                    Live
                </a>
            </div>
        </div>
    </div>
</header>