{{#extend "layout"}}
{{#content "main"}}



<section class="catalog">

    <div class="container">
        {{> header }}
        <div class="catalog__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Выбрать квартиру
            </a>
        </div>
        <h1 class="catalog__main-heading">
            Избранное
        </h1>

    </div>

    <div class="catalog__results">
        <div class="container">
            <div class="catalog__results-header">


                <div class="catalog__results-found">
                    Найдено: 50 квартир
                </div>
                <div class="catalog__results-top-row">
                    <div class="select catalog__results-sort-select">
                        <select class="js-custom-select">
                            <option value="1">Сначала дешевле</option>
                            <option value="2">Сначала дороже</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="catalog__results-blocks">
                <div class="catalog__results-block">
                    <div class="catalog__results-block-sidebar">
                        <div class="catalog__results-house">
                            <div class="catalog__results-house-photo-container">
                                <img src="img/houses/1.jpg" alt="" class="catalog__results-house-photo">
                                <div class="catalog__results-house-tags">
                                    <div class="catalog__results-house-tag">
                                        Комфорт
                                    </div>
                                </div>
                            </div>
                            <h4 class="catalog__results-house-title">
                                Жилой Комплекс «Семейный»
                            </h4>
                            <div class="catalog__results-house-address">
                                <svg width="14" height="14" aria-hidden="true" class="icon-location">
                                    <use xlink:href="#location"></use>
                                </svg>
                                г. Йошкар-Ола, с. Семёновка
                            </div>
                        </div>
                    </div>
                    <div class="catalog__results-block-main">
                        <div class="catalog__legend">
                            <div class="catalog__legend-item">
                                Схема
                            </div>
                            <div class="catalog__legend-item">
                                Комнатность
                            </div>
                            <div class="catalog__legend-item">
                                Площадь
                            </div>
                            <div class="catalog__legend-item">
                                Срок сдачи
                            </div>
                            <div class="catalog__legend-item">
                                Позиция
                            </div>
                            <div class="catalog__legend-item">
                                Отделка
                            </div>
                        </div>
                        <ul class="catalog__results-list">
                            <li class="catalog__results-list-item">
                                <a href="#" class="catalog__product-like-btn">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-like">
                                        <use xlink:href="#like"></use>
                                    </svg>
                                </a>
                                <a href="#" class="catalog__product-card">
                                    <div class="catalog__product-card-title-wrapper">


                                        <h4 class="catalog__product-card-title">
                                            <span class="catalog__product-card-rooms">1-к квартира</span> <span
                                                class="catalog__product-card-area">22,74 м2</span>
                                        </h4>
                                        <div class="catalog__product-card-top-row">
                                            <div class="catalog__product-card-date">
                                                <span class="catalog__product-card-date-text">Срок сдачи:</span> <span
                                                    class="catalog__product-card-date-number">I кв 2023 г</span>
                                            </div>
                                            <div class="catalog__product-card-position">
                                                Поз.1
                                            </div>
                                        </div>
                                    </div>
                                    <div class="catalog__product-card-image-container">
                                        <img src="img/catalog/1.webp" alt="" class="catalog__product-card-image">
                                    </div>
                                    <div class="catalog__product-card-tags">
                                        <div class="catalog__product-card-tag">
                                            С отделкой
                                        </div>
                                    </div>

                                    <div class="catalog__product-card-bottom-row">
                                        <div class="catalog__product-card-price">
                                            <div class="catalog__product-card-price-amount">
                                                1 400 000 ₽
                                            </div>
                                            <div class="catalog__product-card-price-remark">
                                                в ипотеку от 23 400 ₽/мес
                                            </div>
                                        </div>
                                        <div class="catalog__product-card-floor">
                                            12 этаж
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="catalog__results-list-item">
                                <a href="#" class="catalog__product-like-btn">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-like">
                                        <use xlink:href="#like"></use>
                                    </svg>
                                </a>
                                <a href="#" class="catalog__product-card">
                                    <div class="catalog__product-card-title-wrapper">


                                        <h4 class="catalog__product-card-title">


                                            <span class="catalog__product-card-rooms">1-к квартира</span> <span
                                                class="catalog__product-card-area">43.11 м2</span>
                                        </h4>
                                        <div class="catalog__product-card-top-row">
                                            <div class="catalog__product-card-date">
                                                <span class="catalog__product-card-date-text">Срок сдачи:</span> <span
                                                    class="catalog__product-card-date-number">I кв 2023 г</span>
                                            </div>
                                            <div class="catalog__product-card-position">
                                                Поз.1
                                            </div>
                                        </div>

                                    </div>
                                    <div class="catalog__product-card-image-container">
                                        <img src="img/catalog/2.webp" alt="" class="catalog__product-card-image">
                                    </div>
                                    <div class="catalog__product-card-tags">
                                        <div class="catalog__product-card-tag">
                                            Без отделки
                                        </div>
                                    </div>

                                    <div class="catalog__product-card-bottom-row">
                                        <div class="catalog__product-card-price">
                                            <div class="catalog__product-card-price-amount">
                                                3 018 087,99 ₽
                                            </div>
                                            <div class="catalog__product-card-price-remark">
                                                в ипотеку от 23 400 ₽/мес
                                            </div>
                                        </div>
                                        <div class="catalog__product-card-floor">
                                            2 этаж
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="catalog__results-list-item">
                                <a href="#" class="catalog__product-like-btn">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-like">
                                        <use xlink:href="#like"></use>
                                    </svg>
                                </a>
                                <a href="#" class="catalog__product-card">
                                    <div class="catalog__product-card-title-wrapper">


                                        <h4 class="catalog__product-card-title">
                                            <span class="catalog__product-card-rooms">1-к квартира</span> <span
                                                class="catalog__product-card-area">22,74 м2</span>
                                        </h4>

                                        <div class="catalog__product-card-top-row">
                                            <div class="catalog__product-card-date">
                                                <span class="catalog__product-card-date-text">Срок сдачи:</span> <span
                                                    class="catalog__product-card-date-number">I кв 2023 г</span>
                                            </div>
                                            <div class="catalog__product-card-position">
                                                Поз.1
                                            </div>
                                        </div>

                                    </div>
                                    <div class="catalog__product-card-image-container">
                                        <img src="img/catalog/3.webp" alt="" class="catalog__product-card-image">
                                    </div>
                                    <div class="catalog__product-card-tags">
                                        <div class="catalog__product-card-tag">
                                            С отделкой
                                        </div>
                                    </div>

                                    <div class="catalog__product-card-bottom-row">
                                        <div class="catalog__product-card-price">
                                            <div class="catalog__product-card-price-amount">
                                                1 400 000 ₽
                                            </div>
                                            <div class="catalog__product-card-price-remark">
                                                в ипотеку от 23 400 ₽/мес
                                            </div>
                                        </div>
                                        <div class="catalog__product-card-floor">
                                            12 этаж
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="catalog__results-list-item">
                                <a href="#" class="catalog__product-like-btn">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-like">
                                        <use xlink:href="#like"></use>
                                    </svg>
                                </a>
                                <a href="#" class="catalog__product-card">
                                    <div class="catalog__product-card-title-wrapper">
                                        <h4 class="catalog__product-card-title">
                                            <span class="catalog__product-card-rooms">1-к квартира</span> <span
                                                class="catalog__product-card-area">22,74 м2</span>
                                        </h4>
                                        <div class="catalog__product-card-top-row">
                                            <div class="catalog__product-card-date">
                                                <span class="catalog__product-card-date-text">Срок сдачи:</span> <span
                                                    class="catalog__product-card-date-number">I кв 2023 г</span>
                                            </div>
                                            <div class="catalog__product-card-position">
                                                Поз.1
                                            </div>
                                        </div>
                                    </div>
                                    <div class="catalog__product-card-image-container">
                                        <img src="img/catalog/1.webp" alt="" class="catalog__product-card-image">
                                    </div>
                                    <div class="catalog__product-card-tags">
                                        <div class="catalog__product-card-tag">
                                            С отделкой
                                        </div>
                                    </div>

                                    <div class="catalog__product-card-bottom-row">
                                        <div class="catalog__product-card-price">
                                            <div class="catalog__product-card-price-amount">
                                                1 400 000 ₽
                                            </div>
                                            <div class="catalog__product-card-price-remark">
                                                в ипотеку от 23 400 ₽/мес
                                            </div>
                                        </div>
                                        <div class="catalog__product-card-floor">
                                            12 этаж
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="catalog__results-list-item">
                                <a href="#" class="catalog__product-like-btn">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-like">
                                        <use xlink:href="#like"></use>
                                    </svg>
                                </a>
                                <a href="#" class="catalog__product-card">
                                    <div class="catalog__product-card-title-wrapper">


                                        <h4 class="catalog__product-card-title">
                                            <span class="catalog__product-card-rooms">1-к квартира</span> <span
                                                class="catalog__product-card-area">22,74 м2</span>
                                        </h4>
                                        <div class="catalog__product-card-top-row">
                                            <div class="catalog__product-card-date">
                                                <span class="catalog__product-card-date-text">Срок сдачи:</span> <span
                                                    class="catalog__product-card-date-number">I кв 2023 г</span>
                                            </div>
                                            <div class="catalog__product-card-position">
                                                Поз.1
                                            </div>
                                        </div>
                                    </div>
                                    <div class="catalog__product-card-image-container">
                                        <img src="img/catalog/1.webp" alt="" class="catalog__product-card-image">
                                    </div>
                                    <div class="catalog__product-card-tags">
                                        <div class="catalog__product-card-tag">
                                            С отделкой
                                        </div>
                                    </div>

                                    <div class="catalog__product-card-bottom-row">
                                        <div class="catalog__product-card-price">
                                            <div class="catalog__product-card-price-amount">
                                                1 400 000 ₽
                                            </div>
                                            <div class="catalog__product-card-price-remark">
                                                в ипотеку от 23 400 ₽/мес
                                            </div>
                                        </div>
                                        <div class="catalog__product-card-floor">
                                            12 этаж
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="catalog__results-list-item">
                                <a href="#" class="catalog__product-like-btn">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-like">
                                        <use xlink:href="#like"></use>
                                    </svg>
                                </a>
                                <a href="#" class="catalog__product-card">
                                    <div class="catalog__product-card-title-wrapper">


                                        <h4 class="catalog__product-card-title">
                                            <span class="catalog__product-card-rooms">1-к квартира</span> <span
                                                class="catalog__product-card-area">22,74 м2</span>
                                        </h4>
                                        <div class="catalog__product-card-top-row">
                                            <div class="catalog__product-card-date">
                                                <span class="catalog__product-card-date-text">Срок сдачи:</span> <span
                                                    class="catalog__product-card-date-number">I кв 2023 г</span>
                                            </div>
                                            <div class="catalog__product-card-position">
                                                Поз.1
                                            </div>
                                        </div>

                                    </div>
                                    <div class="catalog__product-card-image-container">
                                        <img src="img/catalog/3.webp" alt="" class="catalog__product-card-image">
                                    </div>
                                    <div class="catalog__product-card-tags">
                                        <div class="catalog__product-card-tag">
                                            С отделкой
                                        </div>
                                    </div>

                                    <div class="catalog__product-card-bottom-row">
                                        <div class="catalog__product-card-price">
                                            <div class="catalog__product-card-price-amount">
                                                1 400 000 ₽
                                            </div>
                                            <div class="catalog__product-card-price-remark">
                                                в ипотеку от 23 400 ₽/мес
                                            </div>
                                        </div>
                                        <div class="catalog__product-card-floor">
                                            12 этаж
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="catalog__results-list-item">
                                <a href="#" class="catalog__product-like-btn">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-like">
                                        <use xlink:href="#like"></use>
                                    </svg>
                                </a>
                                <a href="#" class="catalog__product-card">
                                    <div class="catalog__product-card-title-wrapper">


                                        <h4 class="catalog__product-card-title">
                                            <span class="catalog__product-card-rooms">1-к квартира</span> <span
                                                class="catalog__product-card-area">22,74 м2</span>
                                        </h4>
                                        <div class="catalog__product-card-top-row">
                                            <div class="catalog__product-card-date">
                                                <span class="catalog__product-card-date-text">Срок сдачи:</span> <span
                                                    class="catalog__product-card-date-number">I кв 2023 г</span>
                                            </div>
                                            <div class="catalog__product-card-position">
                                                Поз.1
                                            </div>
                                        </div>
                                    </div>
                                    <div class="catalog__product-card-image-container">
                                        <img src="img/catalog/1.webp" alt="" class="catalog__product-card-image">
                                    </div>
                                    <div class="catalog__product-card-tags">
                                        <div class="catalog__product-card-tag">
                                            С отделкой
                                        </div>
                                    </div>

                                    <div class="catalog__product-card-bottom-row">
                                        <div class="catalog__product-card-price">
                                            <div class="catalog__product-card-price-amount">
                                                1 400 000 ₽
                                            </div>
                                            <div class="catalog__product-card-price-remark">
                                                в ипотеку от 23 400 ₽/мес
                                            </div>
                                        </div>
                                        <div class="catalog__product-card-floor">
                                            12 этаж
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="catalog__results-list-item">
                                <a href="#" class="catalog__product-like-btn">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-like">
                                        <use xlink:href="#like"></use>
                                    </svg>
                                </a>
                                <a href="#" class="catalog__product-card">
                                    <div class="catalog__product-card-title-wrapper">


                                        <h4 class="catalog__product-card-title">
                                            <span class="catalog__product-card-rooms">1-к квартира</span> <span
                                                class="catalog__product-card-area">22,74 м2</span>
                                        </h4>
                                        <div class="catalog__product-card-top-row">
                                            <div class="catalog__product-card-date">
                                                <span class="catalog__product-card-date-text">Срок сдачи:</span> <span
                                                    class="catalog__product-card-date-number">I кв 2023 г</span>
                                            </div>
                                            <div class="catalog__product-card-position">
                                                Поз.1
                                            </div>
                                        </div>
                                    </div>
                                    <div class="catalog__product-card-image-container">
                                        <img src="img/catalog/3.webp" alt="" class="catalog__product-card-image">
                                    </div>
                                    <div class="catalog__product-card-tags">
                                        <div class="catalog__product-card-tag">
                                            С отделкой
                                        </div>
                                    </div>

                                    <div class="catalog__product-card-bottom-row">
                                        <div class="catalog__product-card-price">
                                            <div class="catalog__product-card-price-amount">
                                                1 400 000 ₽
                                            </div>
                                            <div class="catalog__product-card-price-remark">
                                                в ипотеку от 23 400 ₽/мес
                                            </div>
                                        </div>
                                        <div class="catalog__product-card-floor">
                                            12 этаж
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="catalog__results-list-item">
                                <a href="#" class="catalog__product-like-btn">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-like">
                                        <use xlink:href="#like"></use>
                                    </svg>
                                </a>
                                <a href="#" class="catalog__product-card">
                                    <div class="catalog__product-card-title-wrapper">


                                        <h4 class="catalog__product-card-title">
                                            <span class="catalog__product-card-rooms">1-к квартира</span> <span
                                                class="catalog__product-card-area">22,74 м2</span>
                                        </h4>
                                        <div class="catalog__product-card-top-row">
                                            <div class="catalog__product-card-date">
                                                <span class="catalog__product-card-date-text">Срок сдачи:</span> <span
                                                    class="catalog__product-card-date-number">I кв 2023 г</span>
                                            </div>
                                            <div class="catalog__product-card-position">
                                                Поз.1
                                            </div>
                                        </div>
                                    </div>
                                    <div class="catalog__product-card-image-container">
                                        <img src="img/catalog/1.webp" alt="" class="catalog__product-card-image">
                                    </div>
                                    <div class="catalog__product-card-tags">
                                        <div class="catalog__product-card-tag">
                                            С отделкой
                                        </div>
                                    </div>

                                    <div class="catalog__product-card-bottom-row">
                                        <div class="catalog__product-card-price">
                                            <div class="catalog__product-card-price-amount">
                                                1 400 000 ₽
                                            </div>
                                            <div class="catalog__product-card-price-remark">
                                                в ипотеку от 23 400 ₽/мес
                                            </div>
                                        </div>
                                        <div class="catalog__product-card-floor">
                                            12 этаж
                                        </div>
                                    </div>
                                </a>
                            </li>

                        </ul>
                        <a href="#" class="catalog__results-show-all">
                            Показать еще 12 из 50 планировок
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}