{{#extend "layout"}}
{{#content "main"}}


<section class="mortgage">
    <div class="container">
        {{> header }}
        <div class="mortgage__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Ипотека
            </a>
        </div>
        <div class="mortgage__top-row">
            <h1 class="mortgage__heading">
                Рассчитайте свою выгоду
            </h1>
            <ul class="mortgage__banks-list">
                <li class="mortgage__banks-list-item">
                    <img src="img/mortgage-banks/1.png" alt="" class="mortgage__banks-image">
                </li>
                <li class="mortgage__banks-list-item">
                    <img src="img/mortgage-banks/2.png" alt="" class="mortgage__banks-image">
                </li>
                <li class="mortgage__banks-list-item">
                    <img src="img/mortgage-banks/3.png" alt="" class="mortgage__banks-image">
                </li>
                <li class="mortgage__banks-list-item">
                    <img src="img/mortgage-banks/4.png" alt="" class="mortgage__banks-image">
                </li>
                <li class="mortgage__banks-list-item">
                    <img src="img/mortgage-banks/5.png" alt="" class="mortgage__banks-image">
                </li>
                <li class="mortgage__banks-list-item">
                    <img src="img/mortgage-banks/6.png" alt="" class="mortgage__banks-image">
                </li>
            </ul>
            <div class="mortgage__approval">
                <div class="mortgage__approval-text">
                    <b>
                        92% заявок
                    </b>
                    <br>
                    получают одобрение у наших банков-партнеров!
                </div>

            </div>
            <div class="mortgage__text-content">
                <div class="mortgage__text">
                    <p>
                        Успейте купить квартиру с минимальной переплатой по уникальной ставке 2,99%
                    </p>
                </div>
                <a href="#" class="mortgage__link">
                    Оставить заявку
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
            <ul class="mortgage__features-list">
                <li class="mortgage__features-list-item">
                    <div class="mortgage__features-card">
                        <img src="img/mortage-features/1.svg" alt="" class="mortgage__features-card-image">
                        <div class="mortgage__features-card-amount">
                            8%
                        </div>
                        <div class="mortgage__features-card-text">
                            минимальная<br> ставка
                        </div>
                    </div>
                </li>
                <li class="mortgage__features-list-item">
                    <div class="mortgage__features-card">
                        <img src="img/mortage-features/2.svg" alt="" class="mortgage__features-card-image">
                        <div class="mortgage__features-card-amount">
                            1,3
                        </div>
                        <div class="mortgage__features-card-text">
                            млн руб -<br> стартовая цена
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="credit-calculator">
    <div class="bricks bricks--pattern-dark">

        <div class="bricks__cursor">
            <div class="bricks__pattern">

            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="section-heading credit-calculator__heading">
            Ипотека — это легко
        </h2>
        <div class="credit-calculator__row">
            <form class="credit-calculator__form">
                <div class="credit-calculator__form-fields">
                    <div class="credit-calculator__form-field">
                        <div class="select">
                            <div class="select__label">
                                Жилой комплекс
                            </div>
                            <select name="project" class="js-custom-select">
                                <option value="ЖК «Семейный»">ЖК «Семейный»</option>
                                <option value="Другой ЖК»">Другой ЖК</option>
                            </select>
                        </div>
                    </div>
                    <div class="credit-calculator__form-field">
                        <div class="range-slider js-range-slider-single">
                            <div class="range-slider__label">
                                Стоимость квартиры
                            </div>
                            <input type="tel" class="range-slider__input js-numeric-input-decimals" step="100000"
                                min="1000000" max="8000000" value="1400000">
                            <div class="range-slider__element">

                            </div>
                        </div>
                    </div>
                    <div class="credit-calculator__form-field">
                        <div class="range-slider js-range-slider-single">
                            <div class="range-slider__label">
                                Первоначальный взнос
                            </div>
                            <input type="tel" class="range-slider__input js-numeric-input-decimals" step="100000"
                                min="300000" max="1300000" value="700000">
                            <div class="range-slider__element">

                            </div>
                        </div>
                    </div>
                    <div class="credit-calculator__form-field">
                        <div class="range-slider js-range-slider-single">
                            <div class="range-slider__label">
                                Срок кредита (лет)
                            </div>
                            <input type="tel" class="range-slider__input js-numeric-input-decimals" step="1" min="1"
                                max="28" value="12">
                            <div class="range-slider__element">

                            </div>
                        </div>
                    </div>
                    <div class="credit-calculator__form-field">
                        <div class="select">
                            <div class="select__label">
                                Выберите банк
                            </div>
                            <select name="project" class="js-custom-select">
                                <option value="all">Все банки</option>
                                <option value="sber">Сбербанк</option>
                            </select>
                        </div>
                    </div>

                </div>
                <a href="#mortgage-modal" class="btn credit-calculator__form-submit">
                    Оставить заявку
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
                <div class="credit-calculator__form-remark">
                    Данный расчёт приведён для общей информации и не является публичной офертой
                </div>

            </form>
            <div class="credit-calculator__results">
                <div class="credit-calculator__results-legend">
                    <div class="credit-calculator__results-legend-item">
                        Название банка
                    </div>
                    <div class="credit-calculator__results-legend-item">
                        Ставка
                    </div>
                    <div class="credit-calculator__results-legend-item">
                        Срок
                    </div>
                    <div class="credit-calculator__results-legend-item">
                        Первый взнос
                    </div>
                    <div class="credit-calculator__results-legend-item">
                        Платеж в месяц
                    </div>
                </div>
                <ul class="credit-calculator__results-list">
                    <li class="credit-calculator__results-list-item">
                        <a href="#" class="credit-calculator__results-card">
                            <div class="credit-calculator__results-card-bank">
                                <img src="img/banks/1.webp" alt="" class="credit-calculator__results-card-bank-logo">
                                <div class="credit-calculator__results-card-bank-name">
                                    Сбербанк
                                </div>
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Ставка">
                                от 4,6 %
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Срок">
                                до 25 лет
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Первый взнос">
                                от 15 %
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Платеж в месяц">
                                14 000 ₽/мес
                            </div>
                        </a>
                    </li>
                    <li class="credit-calculator__results-list-item">
                        <a href="#" class="credit-calculator__results-card">
                            <div class="credit-calculator__results-card-bank">
                                <img src="img/banks/2.webp" alt="" class="credit-calculator__results-card-bank-logo">
                                <div class="credit-calculator__results-card-bank-name">
                                    ВТБ
                                </div>
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Ставка">
                                от 4,6 %
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Срок">
                                до 25 лет
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Первый взнос">
                                от 15 %
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Платеж в месяц">
                                14 000 ₽/мес
                            </div>
                        </a>
                    </li>
                    <li class="credit-calculator__results-list-item">
                        <a href="#" class="credit-calculator__results-card">
                            <div class="credit-calculator__results-card-bank">
                                <img src="img/banks/3.webp" alt="" class="credit-calculator__results-card-bank-logo">
                                <div class="credit-calculator__results-card-bank-name">
                                    Ак Барс
                                </div>
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Ставка">
                                от 4,6 %
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Срок">
                                до 25 лет
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Первый взнос">
                                от 15 %
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Платеж в месяц">
                                14 000 ₽/мес
                            </div>
                        </a>
                    </li>
                    <li class="credit-calculator__results-list-item">
                        <a href="#" class="credit-calculator__results-card">
                            <div class="credit-calculator__results-card-bank">
                                <img src="img/banks/4.webp" alt="" class="credit-calculator__results-card-bank-logo">
                                <div class="credit-calculator__results-card-bank-name">
                                    РоссельхозБанк
                                </div>
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Ставка">
                                от 4,6 %
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Срок">
                                до 25 лет
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Первый взнос">
                                от 15 %
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Платеж в месяц">
                                14 000 ₽/мес
                            </div>
                        </a>
                    </li>
                    <li class="credit-calculator__results-list-item">
                        <a href="#" class="credit-calculator__results-card">
                            <div class="credit-calculator__results-card-bank">
                                <img src="img/banks/5.webp" alt="" class="credit-calculator__results-card-bank-logo">
                                <div class="credit-calculator__results-card-bank-name">
                                    ГАЗПРОМБАНК
                                </div>
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Ставка">
                                от 4,6 %
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Срок">
                                до 25 лет
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Первый взнос">
                                от 15 %
                            </div>
                            <div class="credit-calculator__results-card-value" data-text="Платеж в месяц">
                                14 000 ₽/мес
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>



<section class="project-news">
    <div class="container">
        <div class="project-news__top-row">
            <h2 class="section-heading project-news__heading">
                Выбрать квартиру
            </h2>
            <a href="#" class="project-news__show-all">
                Смотреть все
            </a>
        </div>
        <div class="project-news__slider js-project-news">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="catalog__product-card">
                            <div class="catalog__product-card-title-wrapper">


                                <h4 class="catalog__product-card-title">
                                    <span class="catalog__product-card-rooms">1-к квартира</span> <span
                                        class="catalog__product-card-area">22,74 м2</span>
                                </h4>
                                <div class="catalog__product-card-top-row">
                                    <div class="catalog__product-card-date">
                                        <span class="catalog__product-card-date-text">Срок сдачи:</span> <span
                                            class="catalog__product-card-date-number">I кв 2023 г</span>
                                    </div>
                                    <div class="catalog__product-card-position">
                                        Поз.1
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__product-card-image-container">
                                <img src="img/catalog/1.webp" alt="" class="catalog__product-card-image">
                            </div>
                            <div class="catalog__product-card-tags">
                                <div class="catalog__product-card-tag">
                                    С отделкой
                                </div>
                            </div>

                            <div class="catalog__product-card-bottom-row">
                                <div class="catalog__product-card-price">
                                    <div class="catalog__product-card-price-amount">
                                        1 400 000 ₽
                                    </div>
                                    <div class="catalog__product-card-price-remark">
                                        в ипотеку от 23 400 ₽/мес
                                    </div>
                                </div>
                                <div class="catalog__product-card-floor">
                                    12 этаж
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="catalog__product-card">
                            <div class="catalog__product-card-title-wrapper">


                                <h4 class="catalog__product-card-title">


                                    <span class="catalog__product-card-rooms">1-к квартира</span> <span
                                        class="catalog__product-card-area">43.11 м2</span>
                                </h4>
                                <div class="catalog__product-card-top-row">
                                    <div class="catalog__product-card-date">
                                        <span class="catalog__product-card-date-text">Срок сдачи:</span> <span
                                            class="catalog__product-card-date-number">I кв 2023 г</span>
                                    </div>
                                    <div class="catalog__product-card-position">
                                        Поз.1
                                    </div>
                                </div>

                            </div>
                            <div class="catalog__product-card-image-container">
                                <img src="img/catalog/2.webp" alt="" class="catalog__product-card-image">
                            </div>
                            <div class="catalog__product-card-tags">
                                <div class="catalog__product-card-tag">
                                    Без отделки
                                </div>
                            </div>

                            <div class="catalog__product-card-bottom-row">
                                <div class="catalog__product-card-price">
                                    <div class="catalog__product-card-price-amount">
                                        3 018 087,99 ₽
                                    </div>
                                    <div class="catalog__product-card-price-remark">
                                        в ипотеку от 23 400 ₽/мес
                                    </div>
                                </div>
                                <div class="catalog__product-card-floor">
                                    2 этаж
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="catalog__product-card">
                            <div class="catalog__product-card-title-wrapper">


                                <h4 class="catalog__product-card-title">
                                    <span class="catalog__product-card-rooms">1-к квартира</span> <span
                                        class="catalog__product-card-area">22,74 м2</span>
                                </h4>

                                <div class="catalog__product-card-top-row">
                                    <div class="catalog__product-card-date">
                                        <span class="catalog__product-card-date-text">Срок сдачи:</span> <span
                                            class="catalog__product-card-date-number">I кв 2023 г</span>
                                    </div>
                                    <div class="catalog__product-card-position">
                                        Поз.1
                                    </div>
                                </div>

                            </div>
                            <div class="catalog__product-card-image-container">
                                <img src="img/catalog/3.webp" alt="" class="catalog__product-card-image">
                            </div>
                            <div class="catalog__product-card-tags">
                                <div class="catalog__product-card-tag">
                                    С отделкой
                                </div>
                            </div>

                            <div class="catalog__product-card-bottom-row">
                                <div class="catalog__product-card-price">
                                    <div class="catalog__product-card-price-amount">
                                        1 400 000 ₽
                                    </div>
                                    <div class="catalog__product-card-price-remark">
                                        в ипотеку от 23 400 ₽/мес
                                    </div>
                                </div>
                                <div class="catalog__product-card-floor">
                                    12 этаж
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="catalog__product-card">
                            <div class="catalog__product-card-title-wrapper">
                                <h4 class="catalog__product-card-title">
                                    <span class="catalog__product-card-rooms">1-к квартира</span> <span
                                        class="catalog__product-card-area">22,74 м2</span>
                                </h4>
                                <div class="catalog__product-card-top-row">
                                    <div class="catalog__product-card-date">
                                        <span class="catalog__product-card-date-text">Срок сдачи:</span> <span
                                            class="catalog__product-card-date-number">I кв 2023 г</span>
                                    </div>
                                    <div class="catalog__product-card-position">
                                        Поз.1
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__product-card-image-container">
                                <img src="img/catalog/1.webp" alt="" class="catalog__product-card-image">
                            </div>
                            <div class="catalog__product-card-tags">
                                <div class="catalog__product-card-tag">
                                    С отделкой
                                </div>
                            </div>

                            <div class="catalog__product-card-bottom-row">
                                <div class="catalog__product-card-price">
                                    <div class="catalog__product-card-price-amount">
                                        1 400 000 ₽
                                    </div>
                                    <div class="catalog__product-card-price-remark">
                                        в ипотеку от 23 400 ₽/мес
                                    </div>
                                </div>
                                <div class="catalog__product-card-floor">
                                    12 этаж
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="project-news">
    <div class="container">
        <div class="project-news__top-row">
            <h2 class="section-heading project-news__heading">
                Новости и акции
            </h2>
            <a href="#" class="project-news__show-all">
                Смотреть все
            </a>
        </div>
        <div class="project-news__slider js-project-news">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="project-news__slider-card">
                            <div class="project-news__slider-card-image-container">
                                <img src="img/project-news/1.jpg" alt="" class="project-news__slider-card-image">
                                <div class="project-news__tags">
                                    <div class="project-news__tag">
                                        Новость
                                    </div>
                                </div>
                            </div>
                            <div class="project-news__slider-card-date">
                                01.12.2022
                            </div>
                            <h3 class="project-news__slider-card-heading">
                                Русагрострой "Надежный застройщик России 2020"
                            </h3>

                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="project-news__slider-card">
                            <div class="project-news__slider-card-image-container">
                                <img src="img/project-news/2.jpg" alt="" class="project-news__slider-card-image">
                                <div class="project-news__tags">
                                    <div class="project-news__tag project-news__tag--light">
                                        Новость
                                    </div>
                                </div>
                            </div>
                            <div class="project-news__slider-card-date">
                                01.12.2022
                            </div>
                            <h3 class="project-news__slider-card-heading">
                                Русагрострой "Надежный застройщик России 2020"
                            </h3>

                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="project-news__slider-card">
                            <div class="project-news__slider-card-image-container">
                                <img src="img/project-news/3.jpg" alt="" class="project-news__slider-card-image">
                                <div class="project-news__tags">
                                    <div class="project-news__tag project-news__tag--light">
                                        Новость
                                    </div>
                                </div>
                            </div>
                            <div class="project-news__slider-card-date">
                                01.12.2022
                            </div>
                            <h3 class="project-news__slider-card-heading">
                                Русагрострой "Надежный застройщик России 2020"
                            </h3>

                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="project-news__slider-card">
                            <div class="project-news__slider-card-image-container">
                                <img src="img/project-news/4.jpg" alt="" class="project-news__slider-card-image">
                                <div class="project-news__tags">
                                    <div class="project-news__tag">
                                        Новость
                                    </div>
                                </div>
                            </div>
                            <div class="project-news__slider-card-date">
                                01.12.2022
                            </div>
                            <h3 class="project-news__slider-card-heading">
                                Русагрострой "Надежный застройщик России 2020"
                            </h3>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="contacts">
    <script>

        var mapData = [
            {
                coords: [56.639204, 47.819532],
                title: 'Офис продаж',
                address: `Йошкар-Ола, ул. Чернякова, д. 1, офис 5`,
                phone: `+7 (8362) 65-55-50 `
            }
        ];

        var mapZoom = 12;

        var mapCenter = [56.633669, 47.822463];
    </script>
    <div class="contacts__map">
        <div class="contacts__map-element js-contacts-map">

        </div>
    </div>
    <div class="container">
        <div class="contacts__content">
            <div class="contacts__our-contacts">
                <h3 class="contacts__our-contacts-heading">
                    Наши контакты
                </h3>
                <ul class="contacts__our-contacts-list">
                    <li class="contacts__our-contacts-list-item">
                        <div class="contacts__our-contacts-card">
                            <h4 class="contacts__our-contacts-card-title">
                                Офис продаж
                            </h4>
                            <div class="contacts__our-contacts-card-address">
                                Йошкар-Ола, ул. Чернякова, д. 1, офис 5
                            </div>
                            <a href="tel:+78362655550 " class="contacts__our-contacts-card-link">
                                +7 (8362) 65-55-50
                            </a>
                        </div>

                    </li>
                    <li class="contacts__our-contacts-list-item">
                        <div class="contacts__our-contacts-card">
                            <h4 class="contacts__our-contacts-card-title">
                                Офис продаж
                            </h4>
                            <div class="contacts__our-contacts-card-address">
                                Йошкар-Ола, ул. Чернякова, д. 1, офис 5
                            </div>
                            <a href="tel:+78362655550 " class="contacts__our-contacts-card-link">
                                +7 (8362) 65-55-50
                            </a>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="contacts__contact-us">
                <h3 class="contacts__contact-us-heading">
                    Свяжитесь с нами
                </h3>
                <div class="contacts__contact-us-text">
                    <p>
                        Заполните форму наши менеджеры перезвонят вам в течении 10 минут
                    </p>
                </div>
                <form action="/" class="contacts__contact-us-form" data-need-validation="">
                    <div class="contacts__contact-us-form-fields">
                        <div class="contacts__contact-us-form-field">
                            <input type="text" class="contacts__contact-us-form-input" placeholder="Ваше имя"
                                required="" name="name">
                        </div>
                        <div class="contacts__contact-us-form-field">
                            <input type="tel" class="contacts__contact-us-form-input js-phone-input"
                                placeholder="Ваш номер телефона" required="" name="phone" data-parsley-phone="">
                        </div>
                    </div>
                    <button class=" contacts__contact-us-form-submit">Записаться на встречу</button>
                </form>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}