{{#extend "layout"}}
{{#content "main"}}




<section class="news-catalog">
    <div class="container">
        {{> header }}
        <div class="news-catalog__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Новости
            </a>
        </div>
        <div class="news-catalog__top-row">
            <h1 class="news-catalog__main-heading">
                Новости
            </h1>
            <a href="#" class="news-catalog__toggle">
                <span class="news-catalog__toggle-text active">
                    Новости
                </span>
                <div class="news-catalog__toggle-indicator">

                </div>
                <span class="news-catalog__toggle-text">
                    Акции
                </span>
            </a>
        </div>

    </div>
    <div class="news-catalog__results">
        <div class="bricks">

            <div class="bricks__cursor">
                <div class="bricks__pattern bricks__pattern--dark">

                </div>
            </div>
        </div>
        <div class="container">


            <a href="#" class="news-catalog__selected">
                <div class="news-catalog__selected-image-container">
                    <img src="img/selected-news.jpg" alt="" class="news-catalog__selected-image">
                </div>
                <div class="news-catalog__selected-content">
                    <h3 class="news-catalog__selected-heading">
                        СберБанк снижает первоначальный взнос по ипотеке с господдержкой до 15%
                    </h3>
                    <div class="news-catalog__selected-date">
                        01.12.2022
                    </div>
                    <div class="news-catalog__selected-text">
                        Сбербанк снижает первоначальный взнос по ипотеке с господдержкой с 20% до 15% от стоимости
                        недвижимости
                    </div>
                </div>
            </a>
            <ul class="news-catalog__results-list">
                <li class="news-catalog__results-list-item">
                    <a href="#" class="news-catalog__results-card">
                        <div class="news-catalog__results-card-image-container">
                            <img src="img/news-catalog/1.jpg" alt="" class="news-catalog__results-card-image">
                        </div>
                        <h4 class="news-catalog__results-card-title">
                            Русагрострой «Надёжный застройщик России 2020»
                        </h4>
                        <div class="news-catalog__results-card-text">
                            <p>
                                26 ноября 2020 года состоялось ежегодное награждение девелоперских компаний....
                            </p>
                        </div>
                        <div class="news-catalog__results-card-date">
                            01.12.2022
                        </div>
                    </a>
                </li>
                <li class="news-catalog__results-list-item">
                    <a href="#" class="news-catalog__results-card">
                        <div class="news-catalog__results-card-image-container">
                            <img src="img/news-catalog/2.jpg" alt="" class="news-catalog__results-card-image">
                        </div>
                        <h4 class="news-catalog__results-card-title">
                            Русагрострой «Надёжный застройщик России 2020»
                        </h4>
                        <div class="news-catalog__results-card-text">
                            <p>
                                26 ноября 2020 года состоялось ежегодное награждение девелоперских компаний....
                            </p>
                        </div>
                        <div class="news-catalog__results-card-date">
                            01.12.2022
                        </div>
                    </a>
                </li>
                <li class="news-catalog__results-list-item">
                    <a href="#" class="news-catalog__results-card">
                        <div class="news-catalog__results-card-image-container">
                            <img src="img/news-catalog/3.jpg" alt="" class="news-catalog__results-card-image">
                        </div>
                        <h4 class="news-catalog__results-card-title">
                            Русагрострой «Надёжный застройщик России 2020»
                        </h4>
                        <div class="news-catalog__results-card-text">
                            <p>
                                26 ноября 2020 года состоялось ежегодное награждение девелоперских компаний....
                            </p>
                        </div>
                        <div class="news-catalog__results-card-date">
                            01.12.2022
                        </div>
                    </a>
                </li>
                <li class="news-catalog__results-list-item">
                    <a href="#" class="news-catalog__results-card">
                        <div class="news-catalog__results-card-image-container">
                            <img src="img/news-catalog/4.jpg" alt="" class="news-catalog__results-card-image">
                        </div>
                        <h4 class="news-catalog__results-card-title">
                            Русагрострой «Надёжный застройщик России 2020»
                        </h4>
                        <div class="news-catalog__results-card-text">
                            <p>
                                26 ноября 2020 года состоялось ежегодное награждение девелоперских компаний....
                            </p>
                        </div>
                        <div class="news-catalog__results-card-date">
                            01.12.2022
                        </div>
                    </a>
                </li>
                <li class="news-catalog__results-list-item">
                    <a href="#" class="news-catalog__results-card">
                        <div class="news-catalog__results-card-image-container">
                            <img src="img/news-catalog/5.jpg" alt="" class="news-catalog__results-card-image">
                        </div>
                        <h4 class="news-catalog__results-card-title">
                            Русагрострой «Надёжный застройщик России 2020»
                        </h4>
                        <div class="news-catalog__results-card-text">
                            <p>
                                26 ноября 2020 года состоялось ежегодное награждение девелоперских компаний....
                            </p>
                        </div>
                        <div class="news-catalog__results-card-date">
                            01.12.2022
                        </div>
                    </a>
                </li>
                <li class="news-catalog__results-list-item">
                    <a href="#" class="news-catalog__results-card">
                        <div class="news-catalog__results-card-image-container">
                            <img src="img/news-catalog/6.jpg" alt="" class="news-catalog__results-card-image">
                        </div>
                        <h4 class="news-catalog__results-card-title">
                            Русагрострой «Надёжный застройщик России 2020»
                        </h4>
                        <div class="news-catalog__results-card-text">
                            <p>
                                26 ноября 2020 года состоялось ежегодное награждение девелоперских компаний....
                            </p>
                        </div>
                        <div class="news-catalog__results-card-date">
                            01.12.2022
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#" class="news-catalog__show-more">
                Показать больше
            </a>
        </div>
    </div>
</section>




{{/content}}
{{/extend}}