{{#extend "layout"}}
{{#content "main"}}


<section class="intro">
    <div class="intro__bg">
        <img src="img/project-bg.jpg" alt="" class="intro__bg-image">
        <video class="intro__bg-image lazyload" muted="" data-autoplay="" loop="" playsinline="" preload="none">
            <source src="assets/video/video.mp4" type="video/mp4" />
        </video>
    </div>

    <div class="container">
        <div class="intro__content">
            {{> header }}
            <div class="intro__content-grid">

                <div class="intro__breadcrumbs">
                    <a href="#">
                        Главная
                    </a>
                    <a href="#">
                        Проекты
                    </a>
                    <a href="#" class="active">
                        ЖК “Семейный”
                    </a>
                </div>
                <div class="intro__content-inner">
                    <img src="img/project-house.webp" alt="" class="intro__home-image">

                    <picture>
                        <source srcset="img/project-house-mobile.webp" media="(max-width: 640px)" type="image/webp">
                        <source srcset="img/project-house-mobile.png" media="(max-width: 640px)">
                        <source srcset="img/project-house.webp" type="image/webp">
                        <img src="img/project-house.png" alt="" class="intro__home-image">
                    </picture>
                    <div class="intro__home-card">

                        <div class="intro__numbers">
                            <div class="intro__numbers-item">
                                <div class="intro__numbers-item-amount">
                                    8
                                </div>
                                <div class="intro__numbers-item-text">
                                    домов комфорт-<br>класса
                                </div>
                            </div>
                            <div class="intro__numbers-item">
                                <div class="intro__numbers-item-amount">
                                    1,7
                                </div>
                                <div class="intro__numbers-item-text">
                                    млн руб -<br> стартовая цена
                                </div>
                            </div>
                        </div>
                        <h1 class="intro__home-card-heading">
                            Жилой Комплекс 
                            «Семейный»
                        </h1>
                    </div>
                    <a href="#" class="intro__video-link">
                        <div class="intro__video-link-bg">
                            <img src="img/video-bg.jpg" alt="" class="intro__video-link-bg-image">
                        </div>
                        <div class="intro__video-link-content">
                            <div class="intro__video-link-live">
                                Live
                            </div>
                            <div class="intro__video-bottom-row">
                                <h4 class="intro__video-heading">
                                    ЖК «Семейный» Позиция 1
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-intro-play">
                                    <use xlink:href="#intro-play"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>
{{> filters }}


<section class="project-about js-tabs">
    <div class="container">
        <h1 class="project-about__heading">
            О проекте
        </h1>
        <div class="project-about__nav-wrapper">
            <div class="project-about__nav">
                <a href="#" class="project-about__nav-link js-tabs-btn active">
                    Общая информация
                </a>
                <a href="#" class="project-about__nav-link js-tabs-btn">
                    Благоустройство
                </a>
                <a href="#" class="project-about__nav-link js-tabs-btn">
                    Расположение
                </a>
                <a href="#" class="project-about__nav-link js-tabs-btn">
                    Документация
                </a>
                <a href="#" class="project-about__nav-link">
                    Ход строительства
                    <svg width="14" height="14" aria-hidden="true" class="icon-link">
                        <use xlink:href="#link"></use>
                    </svg>
                </a>
            </div>

        </div>
        <div class="project-about__tabs">
            <div class="project-about__tab js-tabs-item">
                <div class="project-about__row">
                    <div class="project-about__text-content">
                        <h3 class="project-about__inner-heading">
                            ЖК «Семейный» – это 65 000 м жилья, 5 многоквартирных домов из силикатного кирпича
                        </h3>
                        <div class="project-about__text">
                            <div class="project-about__text-short">
                                <p>
                                    Компания РУСАГРОСТРОЙ на рынке строительства с 2004 года. В настоящее время
                                    организация наращивает объёмы строительства. Русагрострой ответственная и надёжная
                                    компания. Высокое качество работ, применение самых передовых технологий обеспечивает
                                    конкурентоспособность на строительном рынке.
                                </p>
                            </div>
                            <div class="project-about__text-full">
                                <p>
                                    Компания РУСАГРОСТРОЙ на рынке строительства с 2004 года. В настоящее время
                                    организация наращивает объёмы строительства. Русагрострой ответственная и надёжная
                                    компания. Высокое качество работ, применение самых передовых технологий обеспечивает
                                    конкурентоспособность на строительном рынке.
                                </p>
                                <p>
                                    Компания РУСАГРОСТРОЙ на рынке строительства с 2004 года. В настоящее время
                                    организация наращивает объёмы строительства. Русагрострой ответственная и надёжная
                                    компания. Высокое качество работ, применение самых передовых технологий обеспечивает
                                    конкурентоспособность на строительном рынке.
                                </p>
                            </div>
                        </div>
                        <a href="#" class="project-about__tab-show-more js-show-all">
                            <span>
                                Развернуть
                            </span>
                            <span>
                                Свернуть
                            </span>

                        </a>
                    </div>
                    <a href="https://www.youtube.com/watch?v=1jMJDbq7ZX4" class="project-about__video" data-fancybox="">
                        <div class="project-about__video-bg">
                            <img src="img/project-about-video.jpg" alt="" class="project-about__video-bg-image">
                        </div>
                        <svg width="14" height="14" aria-hidden="true" class="icon-intro-play">
                            <use xlink:href="#intro-play"></use>
                        </svg>
                        <h3 class="project-about__video-heading">
                            Видеообзор ЖК «Семейный»
                        </h3>
                    </a>
                </div>
                <div class="project-about__numbers">
                    <ul class="project-about__numbers-list">
                        <li class="project-about__numbers-list-item">
                            <div class="project-about__numbers-card">
                                <div class="project-about__numbers-card-amount">
                                    9
                                </div>
                                <div class="project-about__numbers-card-text">
                                    этажей и 30 видов<br> продуманных планировок
                                </div>
                            </div>
                        </li>
                        <li class="project-about__numbers-list-item">
                            <div class="project-about__numbers-card">
                                <div class="project-about__numbers-card-amount">
                                    10
                                </div>
                                <div class="project-about__numbers-card-text">
                                    подъездов и бесшумные лифты
                                </div>
                            </div>
                        </li>
                        <li class="project-about__numbers-list-item">
                            <div class="project-about__numbers-card">
                                <div class="project-about__numbers-card-amount">
                                    IV кв
                                </div>
                                <div class="project-about__numbers-card-text">
                                    2022 г планируемая сдача домов
                                </div>
                            </div>
                        </li>
                        <li class="project-about__numbers-list-item">
                            <div class="project-about__numbers-card">
                                <div class="project-about__numbers-card-amount">
                                    ФЗ - 214
                                </div>
                                <div class="project-about__numbers-card-text">
                                    проект в рамках
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="project-about__tab js-tabs-item">
                <div class="project-about__row">
                    <div class="project-about__text-content">
                        <h3 class="project-about__inner-heading">
                            Продуманная дворовая территория
                        </h3>
                        <div class="project-about__text">
                            <p>
                                Функциональное зонирование: территория разделена на зоны для детского или семейного
                                отдыха, спорта, прогулок, места для спокойного времяпровождения, а так же обилие зелени,
                                удобные скамейки, урны, хорошая освещенность территории.
                            </p>
                        </div>
                        <ul class="project-about__features-list">
                            <li class="project-about__features-list-item">
                                <div class="project-about__features-card">
                                    <img src="img/features-info/7.svg" alt="" class="project-about__features-card-icon">
                                    Зоны отдыха
                                </div>
                            </li>
                            <li class="project-about__features-list-item">
                                <div class="project-about__features-card">
                                    <img src="img/features-info/8.svg" alt="" class="project-about__features-card-icon">
                                    Детская площадка
                                </div>
                            </li>
                            <li class="project-about__features-list-item">
                                <div class="project-about__features-card">
                                    <img src="img/features-info/9.svg" alt="" class="project-about__features-card-icon">
                                    Спортивная площадка
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="project-about__plan">

                        <img src="img/small-plan.jpg" alt="" class="project-about__plan-image">

                        <div class="project-about__plan-item" style="left: 8%; top: 65%;">
                            <div class="project-about__plan-item-number">
                                1
                            </div>
                            <div class="project-about__plan-item-dropdown">

                                <div
                                    class="project-about__plan-item-dropdown-inner project-about__plan-item-dropdown-inner--with-image">
                                    <div class="project-about__plan-item-bg">
                                        <img src="img/small-plan-items/1.jpg" alt=""
                                            class="project-about__plan-item-bg-image">
                                    </div>
                                    <button class="project-about__plan-item-dropdown-close">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#cross"></use>
                                        </svg>
                                    </button>
                                    <h4 class="project-about__plan-item-small-heading">
                                        Дорожки для прогулок
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="project-about__plan-item" style="left: 28%; top: 28%;">
                            <div class="project-about__plan-item-number">
                                2
                            </div>
                            <div
                                class="project-about__plan-item-dropdown project-about__plan-item-dropdown--bottom-right">

                                <div
                                    class="project-about__plan-item-dropdown-inner project-about__plan-item-dropdown-inner--with-image">
                                    <div class="project-about__plan-item-bg">
                                        <img src="img/small-plan-items/2.jpg" alt=""
                                            class="project-about__plan-item-bg-image">
                                    </div>
                                    <button class="project-about__plan-item-dropdown-close">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#cross"></use>
                                        </svg>
                                    </button>
                                    <h4 class="project-about__plan-item-small-heading">
                                        Пластиковые окна
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="project-about__plan-item" style="left: 92%; top: 46%;">
                            <div class="project-about__plan-item-number">
                                4
                            </div>
                            <div
                                class="project-about__plan-item-dropdown project-about__plan-item-dropdown--bottom-left">

                                <div
                                    class="project-about__plan-item-dropdown-inner project-about__plan-item-dropdown-inner--with-image">
                                    <div class="project-about__plan-item-bg">
                                        <img src="img/small-plan-items/4.jpg" alt=""
                                            class="project-about__plan-item-bg-image">
                                    </div>
                                    <button class="project-about__plan-item-dropdown-close">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#cross"></use>
                                        </svg>
                                    </button>
                                    <h4 class="project-about__plan-item-small-heading">
                                        Приятный ландшафт
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="project-about__plan-item" style="left: 85%; top: 86%;">
                            <div class="project-about__plan-item-number">
                                3
                            </div>
                            <div class="project-about__plan-item-dropdown project-about__plan-item-dropdown--top-left">

                                <div
                                    class="project-about__plan-item-dropdown-inner project-about__plan-item-dropdown-inner--with-image">
                                    <div class="project-about__plan-item-bg">
                                        <img src="img/small-plan-items/3.jpg" alt=""
                                            class="project-about__plan-item-bg-image">
                                    </div>
                                    <button class="project-about__plan-item-dropdown-close">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#cross"></use>
                                        </svg>
                                    </button>
                                    <h4 class="project-about__plan-item-small-heading">
                                        Парковка
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="project-about__plan-item" style="left: 55%; top: 56%;">
                            <div class="project-about__plan-item-number">
                                5
                            </div>
                            <div class="project-about__plan-item-dropdown">

                                <div
                                    class="project-about__plan-item-dropdown-inner project-about__plan-item-dropdown-inner--with-image">
                                    <div class="project-about__plan-item-bg">
                                        <img src="img/small-plan-items/5.jpg" alt=""
                                            class="project-about__plan-item-bg-image">
                                    </div>
                                    <button class="project-about__plan-item-dropdown-close">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#cross"></use>
                                        </svg>
                                    </button>
                                    <h4 class="project-about__plan-item-small-heading">
                                        Спортивная площадка
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="project-about__plan-item" style="left: 38%; top: 46%;">
                            <div class="project-about__plan-item-number">
                                6
                            </div>
                            <div class="project-about__plan-item-dropdown">

                                <div
                                    class="project-about__plan-item-dropdown-inner project-about__plan-item-dropdown-inner--with-image">
                                    <div class="project-about__plan-item-bg">
                                        <img src="img/small-plan-items/6.jpg" alt=""
                                            class="project-about__plan-item-bg-image">
                                    </div>
                                    <button class="project-about__plan-item-dropdown-close">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#cross"></use>
                                        </svg>
                                    </button>
                                    <h4 class="project-about__plan-item-small-heading">
                                        Детская площадка
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="project-about__tab js-tabs-item">
                <div class="project-about__row">
                    <div class="project-about__text-content">
                        <h3 class="project-about__inner-heading">
                            Удобное расположение
                        </h3>
                        <div class="project-about__text">
                            <p>
                                ЖК «Семейный» располагается в границах Сернурского тракта, улицы Молодёжной в селе
                                Семёновка в городе Йошкар-Оле. Рядом со школой №21, детским садом №84. Самый зелёный и
                                экологичный район.
                            </p>
                        </div>
                        <ul class="project-about__features-list">
                            <li class="project-about__features-list-item">
                                <div class="project-about__features-card">
                                    <img src="img/features-info/10.svg" alt=""
                                        class="project-about__features-card-icon">
                                    50 мин от Арены «Марий Эл»
                                </div>
                            </li>
                            <li class="project-about__features-list-item">
                                <div class="project-about__features-card">
                                    <img src="img/features-info/11.svg" alt=""
                                        class="project-about__features-card-icon">
                                    60 мин до городской набережной
                                </div>
                            </li>
                            <li class="project-about__features-list-item">
                                <div class="project-about__features-card">
                                    <img src="img/features-info/12.svg" alt=""
                                        class="project-about__features-card-icon">
                                    В шаге магазины, аптеки, школа и детский сад
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="project-about__map-wrapper">
                        <div class="project-about__map js-project-map" data-zoom="12"
                            data-coords="56.631600, 47.886178">

                        </div>
                    </div>

                </div>


            </div>
            <div class="project-about__tab js-tabs-item">
                <div class="project-about__docs">
                    <h3 class="project-about__inner-heading">
                        «ЖК Семейный»
                    </h3>
                    <form action="/" method="GET" class="project-about__docs-filter">
                        <div class="select project-about__docs-select">
                            <select name="order" class="js-custom-select">
                                <option value="1">Все очереди</option>
                                <option value="2">Первая очередь</option>
                            </select>
                        </div>
                        <div class="select project-about__docs-select">
                            <select name="type" class="js-custom-select">
                                <option value="1">Все типы документов</option>
                                <option value="2">Планы</option>
                            </select>
                        </div>
                    </form>
                    <div class="project-about__docs-results">
                        <div class="project-about__docs-accordion js-accordion">
                            <div class="project-about__docs-accordion-btn js-accordion-btn">
                                Поэтажный план
                                <div class="project-about__docs-accordion-btn-plus">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="project-about__docs-accordion-content js-accordion-content">
                                <div class="project-about__docs-accordion-content-inner">
                                    <ul class="project-about__docs-list">
                                        <li class="project-about__docs-list-item">
                                            <a href="#" class="project-about__docs-link">
                                                <img src="img/pdf.svg" alt="" class="project-about__docs-link-format">
                                                <div class="project-about__docs-link-content">
                                                    <h4 class="project-about__docs-link-title">
                                                        Экспертиза проектной документации
                                                    </h4>
                                                    <div class="project-about__docs-link-info">
                                                        <div class="project-about__docs-link-info-item">
                                                            25.18 мб
                                                        </div>
                                                        <div class="project-about__docs-link-info-item">
                                                            Менеджер ОП
                                                        </div>
                                                        <div class="project-about__docs-link-info-item">
                                                            18.10.2021
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="project-about__docs-accordion js-accordion">
                            <div class="project-about__docs-accordion-btn js-accordion-btn">
                                Разрешение на строительство
                                <div class="project-about__docs-accordion-btn-plus">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="project-about__docs-accordion-content js-accordion-content">
                                <div class="project-about__docs-accordion-content-inner">
                                    <ul class="project-about__docs-list">
                                        <li class="project-about__docs-list-item">
                                            <a href="#" class="project-about__docs-link">
                                                <img src="img/pdf.svg" alt="" class="project-about__docs-link-format">
                                                <div class="project-about__docs-link-content">
                                                    <h4 class="project-about__docs-link-title">
                                                        Экспертиза проектной документации
                                                    </h4>
                                                    <div class="project-about__docs-link-info">
                                                        <div class="project-about__docs-link-info-item">
                                                            25.18 мб
                                                        </div>
                                                        <div class="project-about__docs-link-info-item">
                                                            Менеджер ОП
                                                        </div>
                                                        <div class="project-about__docs-link-info-item">
                                                            18.10.2021
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="project-about__docs-accordion js-accordion">
                            <div class="project-about__docs-accordion-btn js-accordion-btn">
                                Положительное заключение экспертизы
                                <div class="project-about__docs-accordion-btn-plus">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="project-about__docs-accordion-content js-accordion-content">
                                <div class="project-about__docs-accordion-content-inner">
                                    <ul class="project-about__docs-list">
                                        <li class="project-about__docs-list-item">
                                            <a href="#" class="project-about__docs-link">
                                                <img src="img/pdf.svg" alt="" class="project-about__docs-link-format">
                                                <div class="project-about__docs-link-content">
                                                    <h4 class="project-about__docs-link-title">
                                                        Экспертиза проектной документации
                                                    </h4>
                                                    <div class="project-about__docs-link-info">
                                                        <div class="project-about__docs-link-info-item">
                                                            25.18 мб
                                                        </div>
                                                        <div class="project-about__docs-link-info-item">
                                                            Менеджер ОП
                                                        </div>
                                                        <div class="project-about__docs-link-info-item">
                                                            18.10.2021
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="project-about__plan">

            <img src="img/plan.jpg" alt="" class="project-about__plan-image">
            <h4 class="project-about__plan-heading">
                генплан
            </h4>
            <div class="project-about__plan-item" style="left: 25%; top: 85%;">
                <div class="project-about__plan-item-number">
                    1
                </div>
                <div class="project-about__plan-item-dropdown">
                    <div class="project-about__plan-item-dropdown-inner">
                        <button class="project-about__plan-item-dropdown-close">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </button>
                        <h5 class="project-about__plan-item-dropdown-heading">
                            ЖК «Семейный» Поз.1
                        </h5>
                        <div class="project-about__plan-item-date">
                            Срок сдачи: I квартал 2023 г.
                            <span class="project-about__plan-item-date-remaining">
                                через 7 мес
                            </span>
                        </div>
                        <div class="project-about__plan-item-apartments">
                            60 квартир в продаже
                        </div>
                        <div class="project-about__plan-item-prices">
                            <div class="project-about__plan-item-price-item">
                                <div class="project-about__plan-item-price-rooms">
                                    1-комн. квартиры
                                </div>
                                <div class="project-about__plan-item-price-amount">
                                    от 2,4 млн
                                </div>
                            </div>
                            <div class="project-about__plan-item-price-item">
                                <div class="project-about__plan-item-price-rooms">
                                    2-комн. квартиры
                                </div>
                                <div class="project-about__plan-item-price-amount">
                                    от 3,4 млн
                                </div>
                            </div>
                            <div class="project-about__plan-item-price-item">
                                <div class="project-about__plan-item-price-rooms">
                                    3-комн. квартиры
                                </div>
                                <div class="project-about__plan-item-price-amount">
                                    от 4,4 млн
                                </div>
                            </div>
                        </div>
                        <a href="#" class="project-about__plan-item-link">
                            Выбрать квартиру
                        </a>
                    </div>
                </div>
            </div>
            <div class="project-about__plan-item" style="left: 21%; top: 40%;">
                <div class="project-about__plan-item-number">
                    2
                </div>
                <div class="project-about__plan-item-dropdown">
                    <div class="project-about__plan-item-dropdown-inner">
                        <button class="project-about__plan-item-dropdown-close">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </button>
                        <h5 class="project-about__plan-item-dropdown-heading">
                            ЖК «Семейный» Поз.1
                        </h5>
                        <div class="project-about__plan-item-date">
                            Срок сдачи: I квартал 2023 г.
                            <span class="project-about__plan-item-date-remaining">
                                через 7 мес
                            </span>
                        </div>
                        <div class="project-about__plan-item-apartments">
                            60 квартир в продаже
                        </div>
                        <div class="project-about__plan-item-prices">
                            <div class="project-about__plan-item-price-item">
                                <div class="project-about__plan-item-price-rooms">
                                    1-комн. квартиры
                                </div>
                                <div class="project-about__plan-item-price-amount">
                                    от 2,4 млн
                                </div>
                            </div>
                            <div class="project-about__plan-item-price-item">
                                <div class="project-about__plan-item-price-rooms">
                                    2-комн. квартиры
                                </div>
                                <div class="project-about__plan-item-price-amount">
                                    от 3,4 млн
                                </div>
                            </div>
                            <div class="project-about__plan-item-price-item">
                                <div class="project-about__plan-item-price-rooms">
                                    3-комн. квартиры
                                </div>
                                <div class="project-about__plan-item-price-amount">
                                    от 4,4 млн
                                </div>
                            </div>
                        </div>
                        <a href="#" class="project-about__plan-item-link">
                            Выбрать квартиру
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="apartments">
    <div class="container">
        <h2 class="section-heading apartments__heading">
            Квартира под ваши цели
        </h2>
        <div class="apartments__content js-tabs">
            <div class="apartments__nav-wrapper">
                <div class="apartments__nav">
                    <a href="#" class="apartments__nav-link js-tabs-btn active">
                        Индивидуальное проживание
                    </a>
                    <a href="#" class="apartments__nav-link js-tabs-btn">
                        Инвестирование
                    </a>
                    <a href="#" class="apartments__nav-link js-tabs-btn">
                        Покупка детям
                    </a>
                    <a href="#" class="apartments__nav-link js-tabs-btn">
                        Семейная пара
                    </a>
                </div>
            </div>
            <div class="apartments__tabs">
                <div class="apartments__tabs-item js-tabs-item">
                    <div class="apartments__row">
                        <div class="apartments__image-wrapper">
                            <img src="img/apartments/1.jpg" alt="" class="apartments__image">
                            <img src="img/compass.svg" alt="" class="apartments__compass">
                            <a href="#" class="apartments__tour-link">
                                Посмотреть<br> планировку в 3D
                            </a>
                        </div>
                        <div class="apartments__info">
                            <h3 class="apartments__title">
                                1-к квартира 22,74 м²
                            </h3>
                            <div class="apartments__price">
                                1 400 000 ₽
                            </div>
                            <div class="apartments__remark">
                                Отделка входит в стоимость
                            </div>
                            <div class="apartments__specs">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                Проект
                                            </th>
                                            <td>
                                                ЖК «Семейный Поз.1»
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Срок сдачи
                                            </th>
                                            <td>
                                                II кв. 2025
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Этаж
                                            </th>
                                            <td>
                                                Квартира
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Проект
                                            </th>
                                            <td>
                                                ЖК «Семейный Поз.1»
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Срок сдачи
                                            </th>
                                            <td>
                                                II кв. 2025
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Этаж
                                            </th>
                                            <td>
                                                Квартира
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="apartments__specs-show-all js-show-all">
                                    <span>
                                        Все характерстики
                                    </span>
                                    <span>
                                        Свернуть
                                    </span>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </a>
                                <div class="apartments__buy">
                                    <div class="apartments__buy-remark">
                                        в ипотеку от 23 400 ₽/мес
                                    </div>
                                    <div class="apartments__buy-btns">
                                        <a href="#" class="apartments__buy-btn">
                                            Рассчитать ипотеку
                                        </a>
                                        <a href="#" class="apartments__buy-btn apartments__buy-btn--filled">
                                            Забронировать
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apartments__tabs-item js-tabs-item">
                    <div class="apartments__row">
                        <div class="apartments__image-wrapper">
                            <img src="img/apartments/1.jpg" alt="" class="apartments__image">
                            <img src="img/compass.svg" alt="" class="apartments__compass">
                            <a href="#" class="apartments__tour-link">
                                Посмотреть<br> планировку в 3D
                            </a>
                        </div>
                        <div class="apartments__info">
                            <h3 class="apartments__title">
                                1-к квартира 22,74 м²
                            </h3>
                            <div class="apartments__price">
                                1 400 000 ₽
                            </div>
                            <div class="apartments__remark">
                                Отделка входит в стоимость
                            </div>
                            <div class="apartments__specs">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                Проект
                                            </th>
                                            <td>
                                                ЖК «Семейный Поз.1»
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Срок сдачи
                                            </th>
                                            <td>
                                                II кв. 2025
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Этаж
                                            </th>
                                            <td>
                                                Квартира
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Проект
                                            </th>
                                            <td>
                                                ЖК «Семейный Поз.1»
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Срок сдачи
                                            </th>
                                            <td>
                                                II кв. 2025
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Этаж
                                            </th>
                                            <td>
                                                Квартира
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="apartments__specs-show-all js-show-all">
                                    Все характерстики
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </a>
                                <div class="apartments__buy">
                                    <div class="apartments__buy-remark">
                                        в ипотеку от 23 400 ₽/мес
                                    </div>
                                    <div class="apartments__buy-btns">
                                        <a href="#" class="apartments__buy-btn">
                                            Рассчитать ипотеку
                                        </a>
                                        <a href="#" class="apartments__buy-btn apartments__buy-btn--filled">
                                            Забронировать
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apartments__tabs-item js-tabs-item">
                    <div class="apartments__row">
                        <div class="apartments__image-wrapper">
                            <img src="img/apartments/1.jpg" alt="" class="apartments__image">
                            <img src="img/compass.svg" alt="" class="apartments__compass">
                            <a href="#" class="apartments__tour-link">
                                Посмотреть<br> планировку в 3D
                            </a>
                        </div>
                        <div class="apartments__info">
                            <h3 class="apartments__title">
                                1-к квартира 22,74 м²
                            </h3>
                            <div class="apartments__price">
                                1 400 000 ₽
                            </div>
                            <div class="apartments__remark">
                                Отделка входит в стоимость
                            </div>
                            <div class="apartments__specs">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                Проект
                                            </th>
                                            <td>
                                                ЖК «Семейный Поз.1»
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Срок сдачи
                                            </th>
                                            <td>
                                                II кв. 2025
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Этаж
                                            </th>
                                            <td>
                                                Квартира
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Проект
                                            </th>
                                            <td>
                                                ЖК «Семейный Поз.1»
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Срок сдачи
                                            </th>
                                            <td>
                                                II кв. 2025
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Этаж
                                            </th>
                                            <td>
                                                Квартира
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="apartments__specs-show-all js-show-all">
                                    Все характерстики
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </a>
                                <div class="apartments__buy">
                                    <div class="apartments__buy-remark">
                                        в ипотеку от 23 400 ₽/мес
                                    </div>
                                    <div class="apartments__buy-btns">
                                        <a href="#" class="apartments__buy-btn">
                                            Рассчитать ипотеку
                                        </a>
                                        <a href="#" class="apartments__buy-btn apartments__buy-btn--filled">
                                            Забронировать
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apartments__tabs-item js-tabs-item">
                    <div class="apartments__row">
                        <div class="apartments__image-wrapper">
                            <img src="img/apartments/1.jpg" alt="" class="apartments__image">
                            <img src="img/compass.svg" alt="" class="apartments__compass">
                            <a href="#" class="apartments__tour-link">
                                Посмотреть<br> планировку в 3D
                            </a>
                        </div>
                        <div class="apartments__info">
                            <h3 class="apartments__title">
                                1-к квартира 22,74 м²
                            </h3>
                            <div class="apartments__price">
                                1 400 000 ₽
                            </div>
                            <div class="apartments__remark">
                                Отделка входит в стоимость
                            </div>
                            <div class="apartments__specs">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                Проект
                                            </th>
                                            <td>
                                                ЖК «Семейный Поз.1»
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Срок сдачи
                                            </th>
                                            <td>
                                                II кв. 2025
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Этаж
                                            </th>
                                            <td>
                                                Квартира
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Проект
                                            </th>
                                            <td>
                                                ЖК «Семейный Поз.1»
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Срок сдачи
                                            </th>
                                            <td>
                                                II кв. 2025
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Этаж
                                            </th>
                                            <td>
                                                Квартира
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="apartments__specs-show-all js-show-all">
                                    Все характерстики
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </a>
                                <div class="apartments__buy">
                                    <div class="apartments__buy-remark">
                                        в ипотеку от 23 400 ₽/мес
                                    </div>
                                    <div class="apartments__buy-btns">
                                        <a href="#" class="apartments__buy-btn">
                                            Рассчитать ипотеку
                                        </a>
                                        <a href="#" class="apartments__buy-btn apartments__buy-btn--filled">
                                            Забронировать
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="features__content">
            <ul class="features__list">
                <li class="features__list-item">
                    <div class="features__card">
                        <div class="features__card-slider js-features-slider">
                            <div class="features__card-slider-wrapper">


                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="features__card-slider-card">
                                                <img src="img/features/1.jpg" alt=""
                                                    class="features__card-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="features__card-slider-card">
                                                <img src="img/features/1.jpg" alt=""
                                                    class="features__card-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="features__card-slider-card">
                                                <img src="img/features/1.jpg" alt=""
                                                    class="features__card-slider-card-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="features__card-slider-arrow features__card-slider-arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                        <use xlink:href="#slider-arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="features__card-slider-arrow features__card-slider-arrow--next">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                        <use xlink:href="#slider-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="features__card-slider-pagination">

                            </div>
                        </div>
                        <div class="features__card-content">
                            <h3 class="section-heading features__card-title">
                                Удобные и современные планировки
                            </h3>
                            <div class="features__card-text">
                                <p>
                                    Продуманные планировки, большие и светлые комнаты — удовлетворяют требованиям
                                    каждого покупателя
                                </p>
                            </div>
                            <ul class="features__card-list">
                                <li class="features__card-list-item">
                                    <div class="features__card-info">
                                        <img src="img/features-info/1.svg" alt="" class="features__card-info-icon">
                                        Качественные материалы
                                    </div>
                                </li>
                                <li class="features__card-list-item">
                                    <div class="features__card-info">
                                        <img src="img/features-info/2.svg" alt="" class="features__card-info-icon">
                                        Высокие потолки&nbsp;2,7 м.
                                    </div>
                                </li>
                                <li class="features__card-list-item">
                                    <div class="features__card-info">
                                        <img src="img/features-info/3.svg" alt="" class="features__card-info-icon">
                                        Остекленные лоджиии
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="features__list-item">
                    <div class="features__card">
                        <div class="features__card-slider js-features-slider">
                            <div class="features__card-slider-wrapper">


                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="features__card-slider-card">
                                                <img src="img/features/2.jpg" alt=""
                                                    class="features__card-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="features__card-slider-card">
                                                <img src="img/features/2.jpg" alt=""
                                                    class="features__card-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="features__card-slider-card">
                                                <img src="img/features/2.jpg" alt=""
                                                    class="features__card-slider-card-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="features__card-slider-arrow features__card-slider-arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                        <use xlink:href="#slider-arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="features__card-slider-arrow features__card-slider-arrow--next">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                        <use xlink:href="#slider-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="features__card-slider-pagination">

                            </div>
                        </div>
                        <div class="features__card-content">
                            <h3 class="section-heading features__card-title">
                                Просторные и светлые еврооднушки
                            </h3>
                            <div class="features__card-text">
                                <p>
                                    Новый формат квартир, представляющий собой квартиру с одной спальней
                                    и гостиной-столовой, соединённая с кухней
                                </p>
                            </div>
                            <ul class="features__card-list">
                                <li class="features__card-list-item">
                                    <div class="features__card-info">
                                        <img src="img/features-info/4.svg" alt="" class="features__card-info-icon">
                                        Кухня-столовая
                                    </div>
                                </li>
                                <li class="features__card-list-item">
                                    <div class="features__card-info">
                                        <img src="img/features-info/5.svg" alt="" class="features__card-info-icon">
                                        Гардеробная
                                    </div>
                                </li>
                                <li class="features__card-list-item">
                                    <div class="features__card-info">
                                        <img src="img/features-info/6.svg" alt="" class="features__card-info-icon">
                                        Эргономичные планировки
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="our-advantages">
    <div class="container">
        <div class="our-advantages__content">
            <h2 class="section-heading our-advantages__heading">
                Наши преимущества
            </h2>
            <ul class="our-advantages__list">
                <li class="our-advantages__list-item">
                    <div class="our-advantages__card">
                        <div class="our-advantages__card-bg">
                            <img src="img/advantages/1.jpg" alt="" class="our-advantages__card-bg-image">
                        </div>
                        <div class="our-advantages__card-content">


                            <h4 class="our-advantages__card-title">
                                Доступные квартиры
                            </h4>
                            <div class="our-advantages__card-text">
                                <p>
                                    Низкая цена за квадратный метр, беспроцентная рассрочка, материнский капитал,
                                    квартиры с
                                    чистовой отделкой и сантехникой, просторные квартиры свободной планировки без
                                    отделки
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="our-advantages__list-item">
                    <div class="our-advantages__card">
                        <div class="our-advantages__card-bg">
                            <img src="img/advantages/2.jpg" alt="" class="our-advantages__card-bg-image">
                        </div>
                        <div class="our-advantages__card-content">


                            <h4 class="our-advantages__card-title">
                                Вместительный паркинг
                            </h4>
                        </div>
                    </div>
                </li>
                <li class="our-advantages__list-item">
                    <div class="our-advantages__card">
                        <div class="our-advantages__card-bg">
                            <img src="img/advantages/3.jpg" alt="" class="our-advantages__card-bg-image">
                        </div>
                        <div class="our-advantages__card-content">


                            <h4 class="our-advantages__card-title">
                                Экология
                            </h4>
                        </div>
                    </div>
                </li>
                <li class="our-advantages__list-item">
                    <div class="our-advantages__card">
                        <div class="our-advantages__card-bg">
                            <img src="img/advantages/4.jpg" alt="" class="our-advantages__card-bg-image">
                        </div>
                        <div class="our-advantages__card-content">


                            <h4 class="our-advantages__card-title">
                                Надёжность и безопасность
                            </h4>
                        </div>
                    </div>
                </li>
                <li class="our-advantages__list-item">
                    <div class="our-advantages__card">
                        <div class="our-advantages__card-bg">
                            <img src="img/advantages/5.jpg" alt="" class="our-advantages__card-bg-image">
                        </div>
                        <div class="our-advantages__card-content">


                            <h4 class="our-advantages__card-title">
                                Все для семьи
                            </h4>
                        </div>
                    </div>
                </li>
                <li class="our-advantages__list-item">
                    <div class="our-advantages__card">
                        <div class="our-advantages__card-bg">
                            <img src="img/advantages/6.jpg" alt="" class="our-advantages__card-bg-image">
                        </div>
                        <div class="our-advantages__card-content">
                            <h4 class="our-advantages__card-title">
                                Планировки<br> на любой вкус
                            </h4>
                            <div class="our-advantages__card-text">
                                <p>
                                    Низкая цена за квадратный метр, беспроцентная рассрочка, материнский капитал,
                                    квартиры с
                                    чистовой отделкой и сантехникой, просторные квартиры свободной планировки без
                                    отделки
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="commercial-offices">
    <div class="container">
        <div class="commercial-offices__card">
            <div class="commercial-offices__card-bg">
                <img src="img/commercial-offices-bg.jpg" alt="" class="commercial-offices__card-bg-image">
            </div>
            <h2 class="commercial-offices__card-title">
                Коммерческие помещения
            </h2>
            <div class="commercial-offices__card-text">
                <p>
                    Уникальное предложение для инвесторов, которые выбирают недвижимость с целью сдачи в аренду
                    и получения стабильного пассивного дохода
                </p>
            </div>
            <a href="#" class="commercial-offices__card-btn">
                Узнать больше
            </a>
        </div>
    </div>
</section>

<section class="project-news">
    <div class="container">
        <div class="project-news__top-row">
            <h2 class="section-heading project-news__heading">
                Новости и акции
            </h2>
            <a href="#" class="project-news__show-all">
                Смотреть все
            </a>
        </div>
        <div class="project-news__slider js-project-news">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="project-news__slider-card">
                            <div class="project-news__slider-card-image-container">
                                <img src="img/project-news/1.jpg" alt="" class="project-news__slider-card-image">
                                <div class="project-news__tags">
                                    <div class="project-news__tag">
                                        Новость
                                    </div>
                                </div>
                            </div>
                            <div class="project-news__slider-card-date">
                                01.12.2022
                            </div>
                            <h3 class="project-news__slider-card-heading">
                                Русагрострой "Надежный застройщик России 2020"
                            </h3>

                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="project-news__slider-card">
                            <div class="project-news__slider-card-image-container">
                                <img src="img/project-news/2.jpg" alt="" class="project-news__slider-card-image">
                                <div class="project-news__tags">
                                    <div class="project-news__tag project-news__tag--light">
                                        Новость
                                    </div>
                                </div>
                            </div>
                            <div class="project-news__slider-card-date">
                                01.12.2022
                            </div>
                            <h3 class="project-news__slider-card-heading">
                                Русагрострой "Надежный застройщик России 2020"
                            </h3>

                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="project-news__slider-card">
                            <div class="project-news__slider-card-image-container">
                                <img src="img/project-news/3.jpg" alt="" class="project-news__slider-card-image">
                                <div class="project-news__tags">
                                    <div class="project-news__tag project-news__tag--light">
                                        Новость
                                    </div>
                                </div>
                            </div>
                            <div class="project-news__slider-card-date">
                                01.12.2022
                            </div>
                            <h3 class="project-news__slider-card-heading">
                                Русагрострой "Надежный застройщик России 2020"
                            </h3>

                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="project-news__slider-card">
                            <div class="project-news__slider-card-image-container">
                                <img src="img/project-news/4.jpg" alt="" class="project-news__slider-card-image">
                                <div class="project-news__tags">
                                    <div class="project-news__tag">
                                        Новость
                                    </div>
                                </div>
                            </div>
                            <div class="project-news__slider-card-date">
                                01.12.2022
                            </div>
                            <h3 class="project-news__slider-card-heading">
                                Русагрострой "Надежный застройщик России 2020"
                            </h3>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="contacts">
    <script>

        var mapData = [
            {
                coords: [56.639204, 47.819532],
                title: 'Офис продаж',
                address: `Йошкар-Ола, ул. Чернякова, д. 1, офис 5`,
                phone: `+7 (8362) 65-55-50 `
            }
        ];

        var mapZoom = 12;

        var mapCenter = [56.633669, 47.822463];
    </script>
    <div class="contacts__map">
        <div class="contacts__map-element js-contacts-map">

        </div>
    </div>
    <div class="container">
        <div class="contacts__content">
            <div class="contacts__our-contacts">
                <h3 class="contacts__our-contacts-heading">
                    Наши контакты
                </h3>
                <ul class="contacts__our-contacts-list">
                    <li class="contacts__our-contacts-list-item">
                        <div class="contacts__our-contacts-card">
                            <h4 class="contacts__our-contacts-card-title">
                                Офис продаж
                            </h4>
                            <div class="contacts__our-contacts-card-address">
                                Йошкар-Ола, ул. Чернякова, д. 1, офис 5
                            </div>
                            <a href="tel:+78362655550 " class="contacts__our-contacts-card-link">
                                +7 (8362) 65-55-50
                            </a>
                        </div>

                    </li>
                    <li class="contacts__our-contacts-list-item">
                        <div class="contacts__our-contacts-card">
                            <h4 class="contacts__our-contacts-card-title">
                                Офис продаж
                            </h4>
                            <div class="contacts__our-contacts-card-address">
                                Йошкар-Ола, ул. Чернякова, д. 1, офис 5
                            </div>
                            <a href="tel:+78362655550 " class="contacts__our-contacts-card-link">
                                +7 (8362) 65-55-50
                            </a>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="contacts__contact-us">
                <h3 class="contacts__contact-us-heading">
                    Свяжитесь с нами
                </h3>
                <div class="contacts__contact-us-text">
                    <p>
                        Заполните форму наши менеджеры перезвонят вам в течении 10 минут
                    </p>
                </div>
                <form action="/" class="contacts__contact-us-form" data-need-validation="">
                    <div class="contacts__contact-us-form-fields">
                        <div class="contacts__contact-us-form-field">
                            <input type="text" class="contacts__contact-us-form-input" placeholder="Ваше имя"
                                required="" name="name">
                        </div>
                        <div class="contacts__contact-us-form-field">
                            <input type="tel" class="contacts__contact-us-form-input js-phone-input"
                                placeholder="Ваш номер телефона" required="" name="phone" data-parsley-phone="">
                        </div>
                    </div>
                    <button class=" contacts__contact-us-form-submit">Записаться на встречу</button>
                </form>
            </div>
        </div>
    </div>
</section>
{{/content}}
{{/extend}}