{{#extend "layout"}}
{{#content "main"}}


<section class="intro">
    <div class="intro__bg">

    </div>

    <div class="container">
        <div class="intro__content">
            {{> header }}
            <div class="intro__content-grid">


                <div class="intro__content-inner">
                    <img src="img/house.webp" alt="" class="intro__home-image">
                    <div class="intro__home-card">
                        <div class="intro__home-card-features">
                            <div class="intro__home-card-features-item">
                                Формируем мультиформатную среду во всех новых<br> напрвлениях
                            </div>
                            <div class="intro__home-card-features-item">
                                Формируем мультиформатную среду во всех новых<br> напрвлениях
                            </div>
                        </div>
                        <h1 class="intro__home-card-heading">
                            Комфортное жилье для счастливых людей
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro__promo js-intro-promo">
        <div class="container">
            <div class="intro__promo-row">
                <h3 class="intro__promo-heading">
                    Выгодные ставки от 5 %
                </h3>
                <div class="intro__promo-content">
                    <div class="intro__promo-hidden">


                        <div class="intro__promo-text">
                            <p>
                                Рассчитать персональный подбор ипотеки можно на <a href="#">DomClick.ru</a>
                            </p>
                        </div>
                        <img src="img/sber.svg" alt="" class="intro__promo-logo">
                    </div>
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
 {{> filters }}




{{/content}}
{{/extend}}