.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    user-select: none;
    padding: 2.8rem 4rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    background-color: var(--primary-color);
    color: white;
    gap: 2rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        padding: 1.8rem 2.4rem;
        
    }
    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        background-color: var(--primary-color-hover);
    }

    &--contour-blue {
        background: transparent;

        color: var(--primary-color);
        &:link,
        &:visited {
            color: var(--primary-color);
        }

        &:hover {
            color: white;
            background-color: var(--primary-color);
        }
    }

    &--white {
        border-color: white;
        color: white;
        background: transparent;
        &:link,
        &:visited {
            color: white;
        }

        &:hover {
            background-color: white;
            color: var(--primary-color);
        }
    }

   
  
    svg {
        flex-shrink: 0;
        fill: currentColor;
        width: 0.6rem;
        height: 1.2rem;
        margin-top: 0.3rem;
    }

  
}
