.contacts-page {

}

.contacts-page__breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 125%;
    gap: 1rem;
    margin-bottom: 5rem;
    margin-top: 5rem;

    @include breakpoint(mobile) {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    a {
        display: inline-flex;
        align-items: center;
        gap: 1rem;
        &::after {
            content: '';
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 50%;
            background-color: #37393e;
            flex-shrink: 0;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }

        &.active {
            color: rgba(#37393e, 0.5);
            cursor: default;
        }
    }
}

.contacts-page__main-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 7rem;
    line-height: 107%;
    color: #37393e;
    margin-bottom: 5rem;
    @include breakpoint(mobile) {
        font-size: 3.6rem;
        margin-bottom: 2rem;
    }
}

.contacts-page__results {
    background: #f8f8f8;
    border-radius: 2rem;
    padding-top: 7rem;
    padding-bottom: 5rem;

    @include breakpoint(mobile) {
        padding-top: 3rem;
    }
}

.contacts-page__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 6rem;

    @include breakpoint(mobile) {
        grid-gap: 2rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
   
}

.contacts-page__list-item {
    display: flex;


    flex-direction: column;
}

.contacts-page__card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #37393e;
    padding: 3rem;
    background: #ffffff;
    border-radius: 2rem;

    @include breakpoint(mobile) {
        padding: 2rem;
    }
}

.contacts-page__card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 117%;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
}

.contacts-page__card-item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #97999b;
    transition: color 0.2s;
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        margin-bottom: 1rem;
        align-items: flex-start;
    }

    &[href] {
        font-weight: 700;
    }
    &[href]:hover {
        color: var(--primary-color);

        svg {
            fill: var(--primary-color);
        }
    }
}

.contacts-page__card-item-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3.6rem;
    height: 3.6rem;
    background: #f8f8f8;
    border-radius: 50%;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        width: 2.8rem;
        height: 2.8rem;
        margin-top: -0.4rem;
    }

    svg {
        width: 1.8rem;
        height: 1.8rem;
        fill: #97989b;
        transition: fill 0.2s;

        @include breakpoint(mobile) {
            width: 1.4rem;
            height: 1.4rem;
           
        }
    }
}

.contacts-page__card-items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
    margin-top: auto;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 1rem;
    }


    &--single-col {
        grid-template-columns: minmax(0, 1fr);
    }

    .contacts-page__card-item {
        margin-bottom: 0;
    }
}

.contacts-page__card-requisites {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 140%;
    color: #97999b;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.3;
        margin-bottom: 1.5rem;
    }
    p {
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    b {
        color: #414141;
    }
}
