.credit-calculator {
    background: #f5f6f8;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-bottom: 10rem;
    overflow: hidden;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
        padding: 3rem 0;
        margin-bottom: 3rem;
    }
}

.credit-calculator__heading {
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.credit-calculator__row {
    display: grid;
    grid-template-columns: minmax(0, 48rem) minmax(0, 1fr);
    grid-gap: 6rem;
    align-items: flex-start;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 4rem;
    }
}

.credit-calculator__form-fields {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 2rem;

    @include breakpoint(mobile) {
        grid-gap: 1rem;
    }
}

.credit-calculator__form-field {
    background: #ffffff;
    border-radius: 1rem;
    padding: 0 1.5rem;
    color: black;
    .select {
        padding-right: 2rem;
    }
}

.credit-calculator__form-submit {
    margin-top: 5rem;
    width: 100%;

    @include breakpoint(mobile) {
        margin-top: 1rem;
    }
}

.credit-calculator__form-remark {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 135%;
    color: #8290a8;
    margin-top: 1rem;
}

.credit-calculator__results {
    background: #ffffff;
    border-radius: 1rem;
    padding: 0.6rem 3rem;
    position: relative;

    @include breakpoint(mobile) {
        padding: 0rem 2rem;
    }
}

.credit-calculator__results-legend {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    padding: 0rem 3rem;
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 125%;
    color: rgba(#2e466e, 0.6);
    display: grid;
    grid-template-columns: minmax(0, 2.3fr) repeat(4, minmax(0, 1fr));
    grid-gap: 2rem;

    @include breakpoint(mobile) {
        display: none;
    }
}

.credit-calculator__results-list-item {
    border-bottom: 1px solid rgba(57, 123, 243, 0.2);
    &:last-child {
        border: none;
    }
}

.credit-calculator__results-card {
    display: grid;
    grid-template-columns: minmax(0, 2.3fr) repeat(4, minmax(0, 1fr));
    grid-gap: 2rem;
    padding: 3rem 0;
    align-items: center;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 1.5rem;
        padding: 2rem 0;
    }
}

.credit-calculator__results-card-bank {
    display: flex;
    align-items: center;
    gap: 2rem;

    @include breakpoint(mobile) {
        grid-column: span 2;
        gap: 1.5rem;
    }
}

.credit-calculator__results-card-bank-logo {
    width: 5.7rem;
    height: 5.7rem;
    flex-shrink: 0;
    object-fit: contain;

    @include breakpoint(mobile) {
        width: 4rem;
        height: 4rem;
    }
}

.credit-calculator__results-card-bank-name {
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 117%;
    color: #37393e;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
    }
}

.credit-calculator__results-card-value {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 125%;
    color: #000000;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        &::before {
            content: attr(data-text);
            font-size: 1.4rem;
            line-height: 1.2;
            display: block;
            color: #8290a8;
            margin-bottom: 0.5rem;
            font-weight: 400;
        }
    }
}
