[data-popup-role="gallery"] {
    &.fancybox__content {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;

        width: 100%;
        height: 100%;
        padding: 0;

        background-color: #ccc;

        @include breakpoint(mobile) {
            top: 50%;
            left: 50%;
            right: unset;
            bottom: unset;

            transform: translate(-50%, -50%) rotate(90deg);
            width: 100vh;
            height: 100vw;
        }

        >.carousel__button {
            --carousel-button-width: 6rem;
            --carousel-button-height: 6rem;
            --carousel-button-svg-width: 1.8rem;
            --carousel-button-svg-height: 1.8rem;

            top: 6rem;
            right: 6rem;
            z-index: 200;

            background-color: var(--white-color, #fff);

            svg {
                stroke-width: 1.2px;
                stroke: var(--text-color, #37393e);
            }

            @include breakpoint(mobile) {
                --carousel-button-width: 5rem;
                --carousel-button-height: 5rem;
                --carousel-button-svg-width: 1.6rem;
                --carousel-button-svg-height: 1.6rem;

                top: 2rem;
                right: unset;
                left: 2rem;
            }
        }
    }
}

[data-popup-video="true"] {
    .stages-gallery__panel {
        @include visuallyHidden()
    }
}