.feedback-section {
    padding: 8rem 0;

    @include breakpoint(mobile) {
        padding: 4rem 0;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        align-items: stretch;

        @extend .rounded-border;

        @include breakpoint(mobile) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
            align-items: unset;
        }
    }

    &__image-wrapper {
        position: relative;

        &::before {
            position: absolute;
            top: 0;
            right: -0.2rem;
            bottom: 0;
            z-index: 20;

            width: 16.2rem;
            height: 100%;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 1) 50%);
            content: "";

            @include breakpoint(mobile) {
                bottom: unset;
                left: 0;
                right: 0;
                width: 100%;
                height: 6rem;
                background: linear-gradient(0, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 1) 80%);
            }
        }

        @include breakpoint(mobile) {
            order: 2;
            aspect-ratio: 1.51 / 1;
        }
    }

    &__image {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 10;

            min-height: 100%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            object-position: center left;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 5rem 5rem 5rem 3rem;

        @include breakpoint(mobile) {
            order: 1;
            padding: 2.8rem 2rem 0;
        }
    }

    &__title {
        display: block;
        margin-bottom: 3rem;

        @include breakpoint(mobile) {
            margin-bottom: 1.2rem;
        }
    }

    &__text {
        display: block;
        margin-bottom: 3rem;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 135%;
        opacity: 0.7;

        @include breakpoint(mobile) {
            margin-bottom: 2rem;
            font-size: 1.4rem;
            line-height: 125%;
        }
    }

    &__inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-bottom: 1rem;

        @include breakpoint(mobile) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            gap: 1.2rem;
            margin-bottom: 0.8rem;
        }
    }

    &__input {
        position: relative;

        .contacts__contact-us-form-input {
            border-color: rgba($color: #342D29, $alpha: 0.15);

            color: var(--text-color, #37393e);

            @include placeholder() {
                color: var(--text-color, #37393e);
                opacity: 0.6;
            }
        }

        .feedback-section__sumbit {
            width: 100%;
        }

        .parsley-errors-list {
            position: absolute;
            bottom: 0;
            left: 1.5rem;

            li {
                color: var(--red-color, #d22026);
                font-size: 1.4rem;
                line-height: 125%;

                @include breakpoint(mobile) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    &__agreement {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 125%;
        opacity: 0.6;

        @include breakpoint(mobile) {
            font-size: 1rem;
        }
    }
}