.filters {
    position: relative;
    z-index: 85;
    padding-top: 3rem;
    padding-bottom: 1.8rem;
    background-color: #fff;
    border-radius: 2rem;
    margin-top: -3rem;
    color: black;
}

.filters__row {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;

    &:first-child {
        margin-top: 0;
    }
    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: stretch;
    }
}

.filters__row--extended {
    @include breakpointMF(small-tablet) {
        display: none;

        .extended-search-open & {
            display: flex;
        }
    }

    @include breakpoint(mobile) {
        margin-top: 0;

        .filters__form:not(.extended-search-open) & {
            .filters__fields--short {
                display: none;
            }

            .filters__checkboxes {
                display: none;
            }
        }
    }
}

.filter__extended-search {
    & > span {
        &:nth-child(1) {
            display: inline;
        }

        &:nth-child(2) {
            display: none;
        }
    }

    .extended-search-open & {
        & > span {
            &:nth-child(1) {
                display: none;
            }

            &:nth-child(2) {
                display: inline;
            }
        }
    }
}

.filters__fields {
    width: 50%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: minmax(0, 1.2fr) repeat(2, minmax(0, 1fr)) minmax(0, 0.6fr);

    &--short {
        width: 77.4rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        flex-grow: 0;
    }
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        grid-template-columns: minmax(0, 1fr);
        margin-bottom: 2rem;
        margin-bottom: 0;
    }
}

.filters__submit {
    flex-shrink: 0;
    margin-left: 1.5rem;
    width: 33rem;

    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        flex-shrink: 1;
    }
}

.filters__field {
    // border-right: 1px solid #c0cada;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;

    // border-radius: 1rem;
    position: relative;

    @include breakpointMF(small-tablet) {
        margin-left: -1px;
        border: 1px solid #c0cada;
        &:first-child {
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }

        &:last-child {
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
    }

    @include breakpoint(mobile) {
        border: 1px solid #c0cada;
        margin-top: -1px;
    }

    @include breakpointMF(small-tablet) {
        &:focus-within {
            border-color: var(--primary-color);
            z-index: 5;
        }
    }
}

.filters__bottom-row {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-top: 0.6rem;

    @include breakpoint(mobile) {
        // flex-direction: column;
        // align-items: flex-start;
        justify-content: space-between;
        gap: 0.5rem;
        margin-top: 1rem;
    }
}

.filter__extended-search {
    color: var(--primary-color);
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 125%;
    display: flex;
    align-items: center;
    gap: 1rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }

    svg {
        flex-shrink: 0;
        width: 1rem;
        height: 0.5rem;
        fill: currentColor;
        margin-top: 0.2rem;
        transition: transform 0.2s;
    }
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    .extended-search-open & {
        svg {
            transform: rotate(180deg);
        }
    }
}

.filters__reset-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #c0cada;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 125%;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }
    svg {
        flex-shrink: 0;
        width: 0.8rem;
        height: 0.8rem;
        fill: currentColor;
        margin-top: 0.2rem;
    }

    &:hover {
        color: var(--primary-color);
    }
}

.filters__checkboxes {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: 3rem;

    @include breakpoint(mobile) {
        margin: 0;
        gap: 2rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }
}

.filters__checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
    user-select: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 125%;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
    }
}

.filters__checkbox-input {
    display: none;
}

.filters__checkbox-mark {
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 0.1rem solid #c0cada;
    border-radius: 0.3rem;

    &::before {
        content: '';
        width: 1rem;
        height: 1rem;
        background-color: var(--primary-color);
        border-radius: 0.2rem;
        transition: opacity 0.2s;
        opacity: 0;
    }
}

.filters__checkbox-input:checked ~ .filters__checkbox-mark {
    &::before {
        opacity: 1;
    }
}

.filters__form {
    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

.filters__row {
    @include breakpoint(mobile) {
        display: contents;
    }
}

.filters__submit {
    @include breakpoint(mobile) {
        order: 10;
        margin-top: 1rem;
    }
}
