*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --max-container-width: 156rem;
    --content-padding: 6rem;
    --red-color: #d22026;
    --red-color-hover: #ba2126;
    --primary-color: #1361de;
    --primary-color-hover: #0e52be;
    --text-color: #37393e;
    --grey-color: #8f9093;
    --back-color: #f5f6f8;
    --grey-color-100: #efefef;
    --grey-color-200: #f8f8f8;
    --brown-color-100: rgba(52, 45, 41, 1);
    --brown-color-200: #2E2825;
    --black-color: #212121;
    --pt-root: 'PT Root UI', sans-serif;

    @include breakpoint(mobile) {
        --content-padding: 2rem;
    }
}

html {
    box-sizing: border-box;
    font-size: 10px;
    -webkit-text-size-adjust: 100%;
    font-size: 9px;

    @media (max-width: 1679px) {
        font-size: clamp(4.2px, 0.595vw, 10px);
    }

    @media (min-width: 2560px) {
        font-size: 12px;
    }

    @media (min-width: 4096px) {
        font-size: 20px;
    }

    @include breakpoint(mobile) {
        font-size: 10px;
    }

    @include breakpoint(supersmall-mobile) {
        font-size: 9px;
    }

    @include noHighlight();
}

body {
    font-size: 1.6rem;
    line-height: 1.2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--pt-root);
    color: var(--text-color);
}

main {
    display: block;
}

ul,
ol {
    list-style: none;
}

ol {
    counter-reset: ordered-list;

    &>li {
        counter-increment: ordered-list;

        &::before {
            content: counter(ordered-list, decimal-leading-zero) '.';
        }
    }
}

input,
textarea {
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    display: block;
}

input:not([type='checkbox']):not([type='radio']) {
    appearance: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
    box-shadow: none;
    display: block;
    width: 100%;
    overflow: auto;
    height: 20rem;
    @include customScrollbar();
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

input[type='search'] {
    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    font: inherit;
    color: inherit;
    outline: none;
    display: inline-flex;
    position: relative;
    transition: color 0.2s;
}

a {
    background-color: transparent;
    text-decoration: none;
    transition: color 0.2s;

    &:link,
    &:visited {
        color: inherit;
    }
}

a:where(:not[class]) {

    &:link,
    &:visited {
        color: var(--primary-color);
    }
}

svg {
    flex-shrink: 0;
    fill: currentColor;
    transition: fill 0.2s;
}

img {
    border-style: none;
    max-width: 100%;
    display: block;
}

img[data-sizes='auto'] {
    display: block;
    width: 100%;
}

img.lazyload:not([src]) {
    visibility: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th {
    font-weight: 400;
}

td,
th {
    text-align: left;
    vertical-align: top;
}

::selection {
    color: white;
    background-color: var(--primary-color);
    -webkit-text-fill-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent;
}

[class*='ymaps-2'][class*='-ground-pane'] {
    filter: grayscale(100%);
}

[class*='ymaps-2'][class*='-copyrights-pane'] {
    display: none;
}

.filters select {
    opacity: 0;
}

.ya-main-placemark {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 13.6rem;
    height: 13.6rem;
    transform: translate(-50%, -50%);


    border-radius: 100%;
    border-style: solid;
    border-color: rgba($color: #D22026, $alpha: 0.2);
    border-width: 5.6rem;

    span {
        position: relative;
        z-index: 10;
        display: block;
        flex-shrink: 0;
        width: 100%;
        height: 100%;

        background-color: var(--red-color, #d22026);
        background-image: url('../../img/new-index/red-logo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        border-radius: 100%;
        pointer-events: none;


        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 100;

            display: block;
            width: 220%;
            aspect-ratio: 1;


            border-radius: 100%;
            border-style: solid;
            border-color: rgba($color: #D22026, $alpha: 0.1);
            border-width: 0.3rem;
            transform: translate(-50%, -50%);
            content: '';

            animation: pulsAnim 1.5s linear 0s infinite forwards;
        }
    }
}

@keyframes pulsAnim {
    from {
        width: 0%;
        border-color: rgba($color: #D22026, $alpha: 0.4);
    }

    to {
        width: 220%;
        border-color: rgba($color: #D22026, $alpha: 0.1);
    }
}