.page-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 120;
    padding: 2rem 0;
    color: white;

    &--dark {
        color: #37393e;
    }

    &--relative {
        position: relative;

        & > .container {
            display: contents;
        }
    }

    &:not(.page-header--relative) {
        .mobile-menu-open &,
        .modal-open & {
            padding-right: var(--sb-width, 0);
        }
    }

    @include breakpoint(mobile) {
        padding: 1rem 0;
    }
}

.page-header__row {
    height: 9rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.97fr);
    grid-gap: 1.5rem;
    display: grid;

    @include breakpoint(mobile) {
        height: auto;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.page-header__left-block {
    display: grid;
    grid-template-columns: auto auto minmax(0, 1fr);
    grid-gap: 1.5rem;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.page-header__menu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 170;
    height: 100%;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s, transform 0.8s;
    padding: 1.9rem;

    .container {
        @include breakpoint(mobile) {
            display: contents;
        }
    }

    .mobile-menu-open & {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s, transform 0.8s;

        // right: var(--sb-width);
    }
}

.page-header__menu-inner {
    background: #1361de;
    border-radius: 2rem;
    color: white;
    padding: 7.5rem;
    padding-top: 3rem;
    padding-bottom: 12rem;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
        padding: var(--content-padding);
    }
}

.page-header__menu-close {
    position: absolute;
    right: 4rem;
    top: 4rem;
    width: 2.2rem;
    height: 2.2rem;

    @include breakpoint(mobile) {
        top: 2rem;
        right: 2rem;
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: rgba(white, 0.5);
        transition: fill 0.2s;
    }

    &:hover {
        svg {
            fill: white;
        }
    }
}

.page-header__menu-logo {
    display: block;
    margin-bottom: 6.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.page-header__menu-logo-image {
    width: 7.5rem;
    height: auto;
    display: block;

    @include breakpoint(mobile) {
        width: 5.4rem;
    }
}

.page-header__menu-row {
    grid-template-columns: repeat(2, minmax(0, 1fr)) minmax(0, 0.7fr);
    grid-gap: 5rem;
    display: grid;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 3rem;
    }
}

.page-header__menu-nav {
    display: flex;
    flex-direction: column;
}

.page-header__menu-nav-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 10rem;

    @include breakpoint(mobile) {
        gap: 1.5rem;
        margin-bottom: 4rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.page-header__menu-nav-link {
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 120%;
    transition: all 0.2s;
    text-decoration: underline;
    text-decoration-color: transparent;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
    }

    .no-touch &:hover {
        text-decoration-color: white;
    }
}

.page-header__menu-projects-title-link {
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 120%;
    margin-bottom: 3.5rem;
    display: block;
    transition: all 0.2s;
    text-decoration: underline;
    text-decoration-color: transparent;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        margin-bottom: 1.5rem;
    }

    .no-touch &:hover {
        text-decoration-color: white;
    }
}

.page-header__menu-projects-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include breakpoint(mobile) {
        gap: 1rem;
    }
}

.page-header__menu-projects-link {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 135%;
    color: rgba(#ffffff, 0.5);

    @include breakpoint(mobile) {
        font-size: 1.6rem;
    }
    &:link,
    &:visited {
        color: rgba(#ffffff, 0.5);
    }

    .no-touch &:hover,
    .touch &:active {
        color: white;
    }
}

.page-header__menu-contacts {
    display: flex;
    flex-direction: column;
}

.page-header__menu-contacts-title {
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 120%;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        margin-bottom: 1.5rem;
    }
}

.page-header__menu-contacts-blocks {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 5.5rem;

    @include breakpoint(mobile) {
        gap: 2rem;
        margin-bottom: 3rem;
    }
}

.page-header__menu-contacts-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.page-header__menu-contacts-block-address {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 135%;
    color: rgba(white, 0.5);
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
    }
}

.page-header__menu-contacts-block-phone {
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 135%;
    transition: all 0.2s;
    text-decoration: underline;
    text-decoration-color: transparent;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
    }

    .no-touch &:hover {
        text-decoration-color: white;
    }
}

.page-header__menu-contacts-social-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-bottom: 2.3rem;
    @include breakpoint(mobile) {
        gap: 1.5rem;
    }
}

.page-header__menu-contacts-social-list-item {
    flex-shrink: 0;
}

.page-header__menu-contacts-social-link {
    width: 4rem;
    height: 4rem;
    display: block;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #69b7f0;
    transition: background-color 0.2s;
    border-radius: 50%;

    &:hover {
        background: #2796e8;
    }

    &--green {
        background: #6bc859;
        &:hover {
            background: #3fd523;
        }
    }

    &--dark-blue {
        background: #3372e9;
        &:hover {
            background: #235ecf;
        }
    }

    @include breakpoint(mobile) {
        width: 4rem;
        height: 4rem;
    }
}

.page-header__menu-contacts-social-link-icon {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    display: block;

    @include breakpoint(mobile) {
        width: 2.4rem;
        height: 2.4rem;
    }
}

.page-header__menu-contacts-order-link {
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    padding: 2rem 6rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f5f6f8;
    border-radius: 1rem;
    color: white;
    align-self: flex-start;
    transition: background-color 0.2s, color 0.2s;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        padding: 1.8rem 2.4rem;
        align-self: stretch;
    }
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        background: white;
        color: var(--primary-color);
    }
}

.page-header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    position: relative;
    z-index: 30;
    height: 9rem;
    @include breakpoint(mobile) {
        width: auto;
        padding: 1rem 1rem;
        height: auto;
        border-radius: 1rem;
    }
}

.page-header__mzsk-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 14.5rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    position: relative;
    z-index: 30;
    height: 9rem;

    .page-header--dark .page-header__left-block & {
        border-color: rgba(127, 141, 165, 0.3);
    }
    @include breakpoint(mobile) {
        width: auto;
        padding: 1rem 1rem;
        height: auto;
        border-radius: 1rem;
    }
}

.page-header__mzsk-logo-image {
    width: 10rem;
    height: auto;

    @include breakpoint(mobile) {
        width: 5rem;
    }
}

.page-header--dark .page-header__left-block .page-header__logo {
    border-color: rgba(127, 141, 165, 0.3);
}

.page-header__logo-image {
    width: 6.3rem;
    height: auto;
    transition: opacity 0.2s;

    @include breakpoint(mobile) {
        width: 4rem;
    }
}

.page-header__choose-apartment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;

    &:hover {
        background-color: #fff;
        color: var(--primary-color);
        border-color: white;
    }

    .page-header--dark & {
        border-color: rgba(127, 141, 165, 0.3);
        &:hover {
            border-color: var(--primary-color);
        }
    }

    @include breakpoint(mobile) {
        display: none;
    }

    svg {
        flex-shrink: 0;
        fill: currentColor;
        width: 0.6rem;
        height: 1.2rem;
        margin-top: 0.3rem;
    }
}

.page-header__right-block {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 0rem 4rem;
    gap: 3rem;

    .page-header--dark & {
        border-color: rgba(127, 141, 165, 0.3);
    }

    @include breakpoint(mobile) {
        display: contents;
    }
}

.page-header__burger {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        margin-left: auto;
        margin: 0;
        order: 10;
    }

    & > span {
        width: 3rem;
        height: 2px;
        background-color: #fff;
        margin-bottom: 0.6rem;
        border-radius: 0.2rem;
        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(2) {
            width: 2.2rem;
        }
    }

    .page-header--dark & {
        & > span {
            background-color: var(--text-color);
        }
    }
}

.page-header__nav {
    margin-left: auto;

    @include breakpoint(mobile) {
        display: none;
    }
}

.page-header__nav-list {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.page-header__nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    transition: color 0.2s;
    white-space: nowrap;
    &:hover {
        color: rgba(white, 0.7);
    }

    .page-header--dark & {
        &:hover {
            color: rgba(#37393e, 0.7);
        }
    }
}

.page-header__like-btn {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    flex-shrink: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin-right: -1.5rem;
    transition: border-color 0.2s, background-color 0.2s;

    @include breakpoint(mobile) {
        margin: 0;
        margin-left: auto;
        margin-right: 1rem;
    }
    svg {
        width: 1.4rem;
        height: 1.2rem;
        fill: white;
        transition: fill 0.2s;
    }

    &:hover {
        background-color: white;

        svg {
            fill: var(--primary-color);
        }
    }

    .page-header--dark & {
        border: 1px solid rgba(127, 141, 165, 0.3);

        svg {
            fill: #37393e;
        }

        &:hover {
            border-color: var(--primary-color);

            svg {
                fill: var(--primary-color);
            }
        }
    }
}

.page-header__phone {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
    white-space: nowrap;
    margin-right: 3rem;
    @include breakpoint(mobile) {
        display: none;
    }

    &:hover {
        color: rgba(white, 0.7);
    }

    .page-header--dark & {
        &:hover {
            color: rgba(#37393e, 0.7);
        }
    }
}

.page-header__live {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
    gap: 1rem;
    border: 1px solid #ffffff;
    border-radius: 6rem;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;

    @include breakpoint(mobile) {
        display: none;
    }
    &::before {
        content: '';
        width: 0.7rem;
        height: 0.7rem;
        background-color: var(--primary-color);
        border-radius: 50%;
        flex-shrink: 0;
    }

    &:hover {
        color: var(--primary-color);
        background-color: #fff;
    }
}

.page-header__process {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
    padding: 1rem;
    border: 1px solid #ffffff;
    border-radius: 6rem;
    gap: 1rem;
    flex-shrink: 0;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include breakpoint(mobile) {
        display: none;
    }
    svg {
        flex-shrink: 0;
        width: 1.8rem;
        height: 1.8rem;
        fill: currentColor;
    }

    &:hover {
        background-color: white;
        color: var(--primary-color);
    }

    .page-header--dark & {
        border-color: rgba(127, 141, 165, 0.3);

        &:hover {
            color: var(--primary-color);
            border-color: var(--primary-color);
        }
    }
}

.page-header__process-text {
}
