.page-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 120;
    padding: 2rem 0;
    color: white;

    &--dark {
        color: #37393e;
    }

    &--relative {
        position: relative;

        & > .container {
            display: contents;
        }
    }

    &:not(.page-header--relative) {
        .mobile-menu-open &,
        .modal-open & {
            padding-right: var(--sb-width, 0);
        }
    }

    @include breakpoint(mobile) {
        padding: 1rem 0;
    }
}

.page-header__row {
    height: 9rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.97fr);
    grid-gap: 1.5rem;
    display: grid;

    @include breakpoint(mobile) {
        height: auto;
        display: flex;
        align-items: center;
    }
}

.page-header__left-block {
    display: grid;
    grid-template-columns: minmax(0, 12rem) minmax(0, 1fr);
    grid-gap: 1.5rem;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.page-header__menu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 170;
    height: 100%;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s, transform 0.8s;

    .mobile-menu-open & {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s, transform 0.8s;
        // right: var(--sb-width);
        // right: var(--sb-width);
    }
}

.page-header__menu-inner {
    background: var(--primary-color);
    border-radius: 0px 0px 2rem 2rem;
    color: white;
    position: relative;
    z-index: 1;
    overflow: hidden;

    @include breakpoint(mobile) {
        border-radius: 0;
        flex-grow: 1;
        flex-shrink: 0;
    }
}

.page-header__menu-row {
    padding-top: 2rem;
    padding-bottom: 3.4rem;
    grid-template-columns: minmax(0, auto) minmax(0, 1fr);
    grid-gap: 1.5rem;
    display: grid;
    align-items: flex-start;
    position: relative;

    @include breakpoint(mobile) {
        padding-top: 1rem;
    }
}

.page-header__menu-row-inner {
    @include breakpoint(mobile) {
        grid-column: 1 / -1;
    }
}

.page-header__menu-close {
    position: absolute;
    left: 100%;
    top: 2rem;
    margin-left: 2rem;
    width: 2rem;
    height: 2rem;

    @include breakpoint(mobile) {
        left: auto;
        top: 0;
        right: 0;
        margin-left: 0;
        position: relative;
        align-self: center;
        justify-self: flex-end;
        width: 2.4rem;
        height: 2.4rem;
        margin: 0;
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: rgba(white, 0.5);
        transition: fill 0.2s;
        @include breakpoint(mobile) {
            fill: white;
        }
    }

    &:hover {
        svg {
            fill: white;
        }
    }
}

.page-header__menu-content {
    padding: 3.5rem 8rem;
    border: 1px solid rgba(#ffffff, 0.5);
    border-radius: 2rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.3fr) minmax(0, 0.8fr) minmax(0, 0.7fr);
    grid-gap: 4rem;

    @include breakpoint(mobile) {
        padding: 0;
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 3rem;
        padding: 2rem;
    }
}

.page-header__menu-col {
    display: flex;
    flex-direction: column;
}

.page-header__menu-link {
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 117%;
    display: block;
    margin-bottom: 3.8rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }

    .no-touch &:hover,
    .touch &:active {
        color: rgba(white, 0.7);
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

.page-header__submenu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 1.2rem;

    @include breakpoint(mobile) {
        margin-top: 1.5rem;
    }
}

.page-header__submenu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 125%;
    margin-bottom: 1.5rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
    .no-touch &:hover,
    .touch &:active {
        color: rgba(white, 0.7);
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.page-header__menu-offices {
    margin-top: 2rem;
    display: flex;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 5rem;

    @include breakpoint(mobile) {
        grid-gap: 3rem;
        margin-top: 1.5rem;
    }
}

.page-header__menu-offices-item-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 125%;
    margin-bottom: 1.3rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
}

.page-header__menu-offices-item-address {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 125%;
    margin-bottom: 1.3rem;
    color: rgba(white, 0.7);
    @include breakpoint(mobile) {
        margin-bottom: 1rem;
    }
}

.page-header__menu-offices-item-phone {
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 125%;
    transition: all 0.2s;
    text-decoration: underline;
    text-decoration-color: transparent;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
    }

    .no-touch &:hover,
    .touch &:active {
        text-decoration-color: white;
    }
}

.page-header__menu-bottom-row {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: stretch;
    }
}

.page-header__menu-social {
}

.page-header__menu-social-heading {
    font-style: normal;

    font-weight: 700;
    font-size: 3.2rem;
    line-height: 117%;
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
    }
}

.page-header__menu-social-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.page-header__menu-social-link {
    width: 3rem;
    height: 3rem;
    display: block;

    @include breakpoint(mobile) {
        width: 2.4rem;
        height: 2.4rem;
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: currentColor;
    }
    .no-touch &:hover,
    .touch &:active {
        color: rgba(white, 0.7);
    }
}

.page-header__menu-order-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 5rem;
    width: 61rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 1rem;
    transition: background-color 0.2s, color 0.2s;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        padding: 1.8rem 2.4rem;
        width: 100%;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: white;
        color: var(--primary-color);
    }
}
.page-header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    position: relative;
    z-index: 30;
    height: 9rem;
    @include breakpoint(mobile) {
        width: auto;
        padding: 1rem 1rem;
        height: auto;
        border-radius: 1rem;
    }
}

.page-header--dark .page-header__left-block .page-header__logo {
    border-color: rgba(127, 141, 165, 0.3);
}

.page-header__logo-image {
    width: 6.3rem;
    height: auto;
    transition: opacity 0.2s;

    @include breakpoint(mobile) {
        width: 4rem;
    }
}

.page-header__choose-apartment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;

    &:hover {
        background-color: #fff;
        color: var(--primary-color);
        border-color: white;
    }

    .page-header--dark & {
        border-color: rgba(127, 141, 165, 0.3);
        &:hover {
            border-color: var(--primary-color);
        }
    }

    @include breakpoint(mobile) {
        display: none;
    }

    svg {
        flex-shrink: 0;
        fill: currentColor;
        width: 0.6rem;
        height: 1.2rem;
        margin-top: 0.3rem;
    }
}

.page-header__right-block {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 0rem 4rem;
    gap: 5rem;

    .page-header--dark & {
        border-color: rgba(127, 141, 165, 0.3);
    }

    @include breakpoint(mobile) {
        display: contents;
    }
}

.page-header__burger {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        margin-left: auto;
    }

    & > span {
        width: 3rem;
        height: 2px;
        background-color: #fff;
        margin-bottom: 0.6rem;
        border-radius: 0.2rem;
        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(2) {
            width: 2.2rem;
        }
    }

    .page-header--dark & {
        & > span {
            background-color: var(--text-color);
        }
    }
}

.page-header__nav {
    margin-left: 15rem;
    margin-right: auto;

    @include breakpoint(mobile) {
        display: none;
    }
}

.page-header__nav-list {
    display: flex;
    align-items: center;
    gap: 4.5rem;
}

.page-header__nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    transition: color 0.2s;
    white-space: nowrap;
    &:hover {
        color: rgba(white, 0.7);
    }

    .page-header--dark & {
        &:hover {
            color: rgba(#37393e, 0.7);
        }
    }
}

.page-header__phone {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
    white-space: nowrap;
    @include breakpoint(mobile) {
        display: none;
    }

    &:hover {
        color: rgba(white, 0.7);
    }

    .page-header--dark & {
        &:hover {
            color: rgba(#37393e, 0.7);
        }
    }
}

.page-header__live {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
    gap: 1rem;
    border: 1px solid #ffffff;
    border-radius: 6rem;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;

    @include breakpoint(mobile) {
        display: none;
    }
    &::before {
        content: '';
        width: 0.7rem;
        height: 0.7rem;
        background-color: var(--primary-color);
        border-radius: 50%;
        flex-shrink: 0;
    }

    &:hover {
        color: var(--primary-color);
        background-color: #fff;
    }
}

.page-header__process {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
    padding: 1rem;
    border: 1px solid #ffffff;
    border-radius: 6rem;
    gap: 1rem;
    flex-shrink: 0;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include breakpoint(mobile) {
        display: none;
    }
    svg {
        flex-shrink: 0;
        width: 1.8rem;
        height: 1.8rem;
        fill: currentColor;
    }

    &:hover {
        background-color: white;
        color: var(--primary-color);
    }

    .page-header--dark & {
        border-color: var(--text-color);

        &:hover {
            color: var(--primary-color);
            border-color: var(--primary-color);
        }
    }
}

.page-header__process-text {
}
