.projects {
    padding-top: 6.8rem;
    padding-bottom: 6rem;

    @include breakpoint(mobile) {
        padding: 3rem 0;
    }
}

.projects__blocks {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 10rem;
    grid-row-gap: 3rem;

    @include breakpoint(mobile) {
        grid-gap: 5rem;
    }
}

.projects__block-heading {
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.projects__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 6rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 3rem;
    }
}

.projects__list-item {
    display: flex;
    flex-direction: column;
}

.projects__card {
    display: flex;
    flex-direction: column;

    @include breakpointMF(small-tablet) {
        flex-grow: 1;
        min-height: 57rem;
        &:hover {
            .projects__card-image-container {
                &::before {
                    padding-bottom: 22.3%;
                }
            }

            .projects__card-details {
                opacity: 1;
                visibility: inherit;
                transition: opacity 0.3s ease 0.2s, visibility 0.3s ease 0.2s;
            }
        }
    }
}

.projects__card-content {
    position: relative;
}

.projects__card-details {
   
    padding-top: 3rem;

    @include breakpointMF(small-tablet) {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s;
    }

    @include breakpoint(mobile) {
        padding-top: 1rem;
    }
  
}

.projects__card-specs {
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        margin-bottom: 1rem;
    }
    table {
        th,
        td {
            font-style: normal;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 117%;
            padding-bottom: 2.2rem;
            vertical-align: middle;

            @include breakpoint(mobile) {
                font-size: 1.2rem;
                padding-bottom: 0.7rem;
            }
        }

        th {
            color: var(--primary-color);
            padding-right: 2rem;

            @include breakpoint(mobile) {

            }
        }

        td {
            text-align: right;
        }

        tr:last-child {
            th,
            td {
                padding-bottom: 0;
            }
        }
    }
}

.projects__card-details-bottom-row {
    display: flex;
    align-items: flex-end;
    gap: 3rem;

    @include breakpoint(mobile) {
        gap: 1rem;
    }
}

.projects__card-details-content {
    width: 50%;
    flex-grow: 1;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.projects__card-date {
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 117%;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
    }
}

.projects__card-apartments-count {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 117%;
    color: #8290a8;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
    }
}

.projects__card-details-more {
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 117%;
    color: var(--primary-color);
    text-align: right;
    flex-shrink: 0;
    white-space: nowrap;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }
}

.projects__card-image-container {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    margin-bottom: 2.5rem;

    @include breakpoint(mobile) {
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 50%;
        display: block;
        transition: padding 0.7s;
    }
}

.projects__card-tags {
    position: absolute;
    left: 2rem;
    top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    @include breakpoint(mobile) {
        left: 1rem;
        top: 1rem;
    }
}

.projects__card-tag {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    white-space: nowrap;
    line-height: 125%;
    padding: 0.5rem 1rem;
    background: rgba(4, 27, 68, 0.64);
    border-radius: 0.7rem;
    color: white;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        padding: 0.4rem 0.6rem;
        border-radius: 0.5rem;
    }
}

.projects__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.projects__card-top-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
    }
}

.projects__card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    color: #37393e;
    line-height: 120%;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 1.2;
    }
}

.projects__card-price {
    text-align: right;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 117%;
    flex-shrink: 0;
    white-space: nowrap;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.projects__card-address {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 117%;
    display: flex;
    align-items: center;
    gap: 0.7rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }

    svg {
        flex-shrink: 0;
        width: 1.6rem;
        height: 1.6rem;
        fill: var(--primary-color);

        @include breakpoint(mobile) {
            width: 1.3rem;
            height: 1.3rem;
        }
    }
}
