.projects {
    padding-top: 6.8rem;
    padding-bottom: 6rem;

    @include breakpoint(mobile) {
        padding: 3rem 0;
    }
}

.projects__blocks {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 10rem;

    @include breakpoint(mobile) {
        grid-gap: 5rem;
    }
}

.projects__block-heading {
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.projects__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 6rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 3rem;
    }
}

.projects__list-item {
    display: flex;
    flex-direction: column;
}

.projects__card {
    display: flex;
    flex-direction: column;

    @include breakpointMF(small-tablet) {
        display: flex;
        flex-direction: column;

        .list-view & {
            display: grid;
            grid-template-columns: 1fr 1.3fr 1fr 1fr;
            grid-gap: 6rem;
            grid-template-areas: 'image title specs date' 'image address specs date' 'image count specs date';
            grid-auto-rows: minmax(0, auto);
            grid-row-gap: 0;
            grid-template-rows: minmax(2rem, auto);
            align-content: flex-start;
            align-items: flex-start;
            padding: 3.5rem 0;
            grid-template-rows: auto auto 1fr;

        }

        .no-touch:not(.list-view) &:hover {
            .projects__card-image {
                height: calc(100% - 18rem);
            }

            .projects__card-details {
                opacity: 1;
                visibility: inherit;
                transition: opacity 0.3s ease 0.2s, visibility 0.3s ease 0.2s, transform 0.7s;
            }

            .projects__card-top-row {
                transform: translateY(-20rem);
            }

            .projects__card-address {
                transform: translateY(-20rem);
            }

            .projects__card-details {
                transform: translateY(-20rem);
            }
        }
    }
}

.projects__card-content {
    position: relative;

    @include breakpointMF(small-tablet) {
        .list-view & {
            display: contents;
        }
    }
}

.projects__card-date-hidden-text {
    @include breakpointMF(small-tablet) {
        .list-view & {
            display: none;
        }
    }
}

.projects__card-details {
    padding-top: 3rem;

    @include breakpointMF(small-tablet) {
        body:not(.list-view) & {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0s linear 0.3s, transform 0.7s;
            pointer-events: none;
        }

        .list-view & {
            display: contents;
            padding: 0;
        }
    }

    @include breakpoint(mobile) {
        padding-top: 1rem;
    }
}

.projects__card-specs-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    @include breakpointMF(small-tablet) {
        .list-view & {
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
        }
    }

    @include breakpoint(mobile) {
        gap: 0.5rem;
    }
}

.projects__card-specs-list-item {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 125%;
    color: #37393e;
    padding: 1rem 1.5rem;
    border: 1px solid #c0cada;
    border-radius: 1rem;
    flex-shrink: 0;

    @include breakpointMF(small-tablet) {
        .list-view & {
            font-style: normal;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 125%;
            padding: 1rem 2rem;
        }
    }

    @include breakpoint(mobile) {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border-radius: 0.5rem;
    }
}

.projects__card-specs-price {
    color: var(--primary-color);
}

.projects__card-specs {
    margin-bottom: 3rem;

    @include breakpointMF(small-tablet) {
        .list-view & {
            margin: 0;
            grid-area: specs;
            align-self: flex-start;
        }
    }

    @include breakpoint(mobile) {
        margin-bottom: 1rem;
    }
    table {
        th,
        td {
            font-style: normal;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 117%;
            padding-bottom: 2.2rem;
            vertical-align: middle;

            @include breakpoint(mobile) {
                font-size: 1.2rem;
                padding-bottom: 0.7rem;
            }
        }

        th {
            color: var(--primary-color);
            padding-right: 2rem;

            @include breakpoint(mobile) {
            }
        }

        td {
            text-align: right;
        }

        tr:last-child {
            th,
            td {
                padding-bottom: 0;
            }
        }
    }
}

.projects__card-details-bottom-row {
    display: flex;
    align-items: flex-end;
    gap: 3rem;

    @include breakpointMF(small-tablet) {
        .list-view & {
            display: contents;
        }
    }

    @include breakpoint(mobile) {
        gap: 1rem;
    }
}

.projects__card-details-content {
    width: 50%;
    flex-grow: 1;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;

    @include breakpointMF(small-tablet) {
        .list-view & {
            display: contents;
        }
    }
}

.projects__card-date {
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 117%;

    @include breakpointMF(small-tablet) {
        .list-view & {
            font-style: normal;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 117%;
            grid-area: date;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
    }
}

.projects__card-apartments-count {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 117%;
    color: #8290a8;

    @include breakpointMF(small-tablet) {
        .list-view & {
            font-style: normal;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 125%;
            grid-area: count;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
    }
}

.projects__card-details-more {
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 117%;
    color: var(--primary-color);
    text-align: right;
    flex-shrink: 0;
    white-space: nowrap;
    transition: color 0.2s;
    pointer-events: all;

    @include breakpointMF(small-tablet) {
        .list-view & {
            display: none;
        }
    }

    &:hover {
        color: #7f8da5;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }
}

.projects__card-image-container {
    position: relative;

    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    margin-bottom: 2.5rem;

    @include breakpointMF(small-tablet) {
        .list-view & {
            margin: 0;
            grid-area: image;

            &::before {
                padding-bottom: 56.25%;
            }
        }
    }

    @include breakpoint(mobile) {
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 50%;
        display: block;
        transition: padding 0.7s;
    }
}

.projects__card-tags {
    position: absolute;
    left: 2rem;
    top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    @include breakpoint(mobile) {
        left: 1rem;
        top: 1rem;
    }
}

.projects__card-tag {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    white-space: nowrap;
    line-height: 125%;
    padding: 0.5rem 1rem;
    background: var(--primary-color);
    border-radius: 0.7rem;
    color: white;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        padding: 0.4rem 0.6rem;
        border-radius: 0.5rem;
    }
}

.projects__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    border-radius: 2rem;
    
    transition: height .7s;

    @include breakpointMF(small-tablet) {
        .list-view & {
            transition: none;
        }
    }
}

.projects__card-top-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 1rem;

    transition: transform 0.7s;

    @include breakpointMF(small-tablet) {
        .list-view & {
            display: contents;
        }
    }

    @include breakpoint(mobile) {
    }
}

.projects__card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    color: #37393e;
    line-height: 120%;

    @include breakpointMF(small-tablet) {
        .list-view & {
            font-style: normal;
            font-weight: 700;
            font-size: 3.2rem;
            line-height: 120%;
            margin-bottom: 0;
            grid-area: title;
            margin-bottom: 1rem;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 1.2;
    }
}

.projects__card-price {
    text-align: right;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 117%;
    flex-shrink: 0;
    white-space: nowrap;

    @include breakpointMF(small-tablet) {
        .list-view & {
            display: none;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.projects__card-address {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 117%;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    transition: transform 0.7s;

    svg {
        flex-shrink: 0;
        width: 1.6rem;
        height: 1.6rem;
        fill: var(--primary-color);

        @include breakpoint(mobile) {
            width: 1.3rem;
            height: 1.3rem;
        }
    }

    @include breakpointMF(small-tablet) {
        .list-view & {
            font-style: normal;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 135%;
            gap: 0.7rem;
            margin-bottom: 2rem;
            grid-area: address;
        }
    }
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }
}
