.section-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: #37393E;

    @include breakpoint(mobile) {
        font-size: 3rem;
        line-height: 1.2;
    }
}

.section-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 107%;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 125%;
    }
}