.section-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: #37393E;

    @include breakpoint(mobile) {
        font-size: 3.2rem;
        line-height: 1.2;
    }
}
